[2014-09-09 15:09] tnguyen14 opened #4 "choose playlist"
Can we add the option to list and select a playlist to play?

[2015-01-28 19:41] thepuzzlemaster commented on #4
Not quite list and play, but it does allow for some playlist interactivity. Could be a good starting point for what you're looking for:
https://github.com/hnarayanan/shpotify/pull/5

[2015-01-29 08:50] hnarayanan commented on #4
@thepuzzlemaster: How does my hypothetical command line interface look?

https://github.com/hnarayanan/shpotify/blob/master/README.md

Please suggest any changes if you have any. When you're happy with this, we can easily expand your implementation to meet the interface. Also, if you'd like, you're free to add yourself to the list of contributors in the script and README file.

[2015-01-29 16:36] thepuzzlemaster commented on #4
Hmmm. Yeah, I think that looks pretty good. I'll make the necessary changes for the searching stuff.

I'm also going to have searches for playlists return 10 results and choose one at random so the same search string may return different results.

Thanks!

[2015-01-29 20:37] hnarayanan commented on #4
This feature request been implemented in a pretty solid fashion. Please check out the current master branch and many thanks to @thepuzzlemaster!

[2015-01-29 20:37] #4 closed

[2015-01-29 21:29] hnarayanan opened #8 "Random search seems to do the wrong thing?"
@thepuzzlemaster: I am not sure that randomly picking one of the returning search results is the best behaviour since the returning results are already sorted in some way (perhaps popularity?) the first result seemed to work for me.

e.g.
[code]

Picked one multi-word and one single word song name as an example.

If you agree that this behaviour should be changed, do you want me to do it or should

[2015-01-29 21:34] thepuzzlemaster commented on #8
Hmmm. The only search that chooses at random is playlist. All of the others pick the first result, which I do believe is sorted by how closely it matches the query.

Let me investigate a little bit.

[2015-01-29 22:07] thepuzzlemaster commented on #8
So I think the issue is I'm now using the search api (https://api.spotify.com/v1/search) instead of what I was using previously: (ws.spotify.com/search/1/track)

The same query returns results in a different order for the two searches. Although amazing should at least return the track 'amazing' by Danny Saucedo instead of the other one you're seeing.

Looking into it a little more.

[2015-01-29 22:19] hnarayanan commented on #8
In both cases (Kanye West and Danny Saucedo), the songs being returned are the most popular song by the artist, at least on my U.K.-based account.

[2015-01-29 22:20] hnarayanan commented on #8
So it is somehow going from Amazing to Amazing by Danny Saucedo (not problematic) but then to their most popular song.

In the other case it's going from Blood on the Leaves to Kanye West (so far so good) to Only One.

[2015-01-29 22:22] thepuzzlemaster commented on #8
I have found the issue. The previous search method was using a different API endpoint, which locked the results to the US, whereas the new one is not. I can lock it down to the us, which then returns Kanye West as the first result, but I'm not sure that's what we want to do.

See here:
https://developer.spotify.com/web-api/console/get-search-item/#complete

fill in 'amazing' as the query, 'track'

[2015-01-29 22:22] thepuzzlemaster commented on #8
Previously, I was using this endpoint:
https://ws.spotify.com/search/1/track?q=amazing

[2015-01-29 22:22] hnarayanan commented on #8
Can you try passing the `type=foo` business as part of the GET query instead of `-d`? I think that's the problem.

[2015-01-29 22:23] hnarayanan commented on #8
The problem is how you're passing the GET query parameters now I think. I don't think `-d` is doing what you expect here, hence the odd result, and it's always returning the artist, which in turn points to their most popular song.

[2015-01-29 22:24] thepuzzlemaster commented on #8
Okay, let me try changing those.

[2015-01-29 22:26] hnarayanan commented on #8
And yes, if needed, hardcode the zone to the U.S. I'd rather listen to Kanye West than Daniel Saucedo! :)

[2015-01-29 22:27] thepuzzlemaster commented on #8
Ugh. Typo in the grep for track search (line 131). I was searching for an artist uri instead of track.

That does explain the results.

[2015-01-29 22:28] hnarayanan commented on #8
Before you commit any fixes, be sure to pull the repository. I've been mucking around with it a lot in the last half an hour.

[2015-01-29 22:37] thepuzzlemaster commented on #8
Okay, that was the issue. However the track 'amazing' by Danny Saucedo still does return as the #1 result.

You can search for `amazing kanye` which does return amazing by kanye.

Locking the results to the US market may have implications on other people using this.

What do you think? I think I would lean towards leaving the market open. Although I'm also not sure what the implications are for tr

[2015-01-29 22:40] thepuzzlemaster commented on #8
It looks like trying to play music from outside your market works correctly. So I am inclined to leave all markets open. And if the search for your track by name is not returning what you want, add another work to make it more specific.

[2015-01-29 22:42] hnarayanan commented on #8
Agreed. Even though I think the default search results are stupid. :)

Excellent detective work and thanks for the fix.

[2015-01-29 22:42] #8 closed

[2015-01-29 22:44] thepuzzlemaster commented on #8
Thanks for the help. Tracking down what was actually happening (playing the most popular song by the artist) was key in finding the actual cause. I think Danny Saucedo is really to blame here :+1:

[2015-01-29 22:48] hnarayanan commented on #8
So do I!

[2015-01-30 08:10] hnarayanan opened #10 "Clean up code"
The script is starting to look a bit all over the place after many people have started touching it. Make it somewhat consistent again. Especially:

- [x] Check and polish whitespace
- [x] Set `https://api.spotify.com/v1/search`to a reusable variable
- [x] Rename `SPTFY_URI` to something nicer
- [x] Replace the numerous `echo$bold$green`s by a function `cecho` that does just that
- [x] Replace all

[2015-01-30 08:11] hnarayanan opened #11 "Clean up output messages and make them consistent"
Especially:

- [ ] The output that's shown after play-by-search
- [ ] The output that's shown when toggling playback features

[2015-01-30 08:15] hnarayanan opened #12 "Fix play commands when Spotify.app is not previously running"
Currently, none of the `./spotify play` commands do the right thing if they were invoked before actually starting the Spotify application. Upon play, this behaviour should be changed to:

- check if Spotify.app is running
- if so, behave as it does now
- if not, start Spotify.app and then behave as it does now

[2015-03-02 11:27] Powder opened #13 "Add supporting part to stop bottom-gear from falling down"
I already posted this on Discqus, but probably it’s better to have it here …

Btw. I used 3mm MDF and 3mm acrylic glass, will try to make new gears with less than 3mm.

Answer from Greg:

[2015-03-02 12:03] #13 closed

[2015-03-02 13:13] Powder commented on #13
Has this been resolved?

[2015-03-02 13:14] Powder commented on #13
Oh I’m sorry, wrong window… :/

[2015-03-11 11:03] yoeran opened #14 "Support Spotify v1.0.1.1060"
Shpotify worked like a charm with Spotify 0.9.15.27, but gives me execution errors after I updated Spotify to version v1.0.1 today.

I'm getting the following errors
[code]

[code]

They probably renamed some actions in Spotify?

[2015-03-11 15:49] hnarayanan commented on #14
Oh noes :disappointed:.

Yes, they probably changed the Applescript interface. I will try to find and read some documentation and fix this, eventually. If anyone wants to jump ahead and try this, patches will be most welcome. :heart:

[2015-03-11 15:52] yoeran commented on #14
I've never really worked with Applescript before, how do you find out about the Applescript commands?
With that info I can at least give it a try to make a patch.

[2015-03-11 16:50] hnarayanan commented on #14
I thought it would be a quick Google search but I'm not able to find anything handy. Will be on the lookout for some official-seeming docs and report back if I stumble upon anything.

[This Stack Exchange thread](http://apple.stackexchange.com/questions/46521/how-do-i-find-out-the-applescript-commands-available-for-a-particular-app) might be helpful.

[2015-03-13 13:37] sbaxter commented on #14
https://community.spotify.com/t5/Help-Desktop-Linux-Mac-and/New-Mac-Update-AppleScript-support-removed/m-p/1044011#M112587

[2015-03-13 13:40] sbaxter commented on #14
Update your `Spotify.app/Contents/Info.plist` and restart spotify:
[code]

[2015-03-13 13:41] hnarayanan commented on #14
Thank you. :+1:

Or hopefully this is temporary and we'll need to do nothing once this regression is fixed in subsequent releases of Spotify.

[2015-03-13 13:42] sbaxter commented on #14
Yes, I assume a permanent fix is on the way :)

[2015-03-17 21:54] skamsie commented on #14
After updating the 'Info.plist' some of the commands are still not working for me:

    play album [album name]         # Finds an album by name and plays it.
    play artist [artist name]       # Finds an artist by name and plays it.
    play list [playlist name]

Any ideas how to fix it?

Thanks

[2015-03-26 16:54] thepuzzlemaster commented on #14
For what it's worth, Spotify has marked the issue as 'watch this space' meaning it will be resolved in a future update. I have not yet found a workaround for the play-track issue, which the above three commands use.

[2015-03-27 18:49] hnarayanan commented on #14
Yay!

[2015-03-31 21:40] thepuzzlemaster commented on #14
They claim the latest release fixes the issue. I ended up downgrading and preventing upgrades, so I haven't tested myself though: https://community.spotify.com/t5/Help-Desktop-Linux-Mac-and/New-Mac-Update-AppleScript-support-removed/td-p/995843/page/2

[2015-04-01 20:14] thepuzzlemaster commented on #14
Installed version 1.0.301 and it fixed the issue on my end. I think you should be able to close this issue @yoeran.

[2015-04-01 20:27] hnarayanan commented on #14
Again. Yay :+1:.

[2015-04-01 20:38] #14 closed

[2015-04-09 10:44] hnarayanan commented on #12
Thanks to @gbonetti for resolving this! :)

[2015-04-09 10:44] #12 closed

[2015-04-09 10:45] hnarayanan commented on #10
Thanks to @gbonetti for resolving the `cecho` portion of these, even though he didn't really want to.

[2015-04-17 11:40] bfontaine opened #21 "Version"
Hello,

Would you mind versionning the script and tagging it on the git repo? You can start at, say, `0.1.0` or `1.0.0` then increment when you make some changes. Use git tags to get [releases](https://github.com/hnarayanan/shpotify/releases) on GitHub.

I’d like to submit a PR to [Homebrew](https://github.com/Homebrew/homebrew) to get a formula for `shpotify` but they disallow formulae without ve

[2015-04-17 11:42] hnarayanan commented on #21
Sure, let's arbitrarily start this project at 1.0.0. :)

[2015-04-17 11:43] #21 closed

[2015-04-17 11:54] bfontaine commented on #21
Thanks, just submitted [a PR to Homebrew](https://github.com/Homebrew/homebrew/pull/38746).

[2015-04-18 09:41] bfontaine commented on #21
It has been merged, Homebrew users can now install shpotify with `brew install shpotify` :smile:

[2015-04-18 09:42] hnarayanan commented on #21
Excellent, thanks both for the patch to homebrew and for informing us here.

[2015-04-18 14:42] hnarayanan opened #22 "Collect the different repeated search-and-play code into a reusable function"
To make things like the following look better:

[code]

[2015-04-18 14:51] #10 closed

[2015-04-20 08:27] snipem commented on #11
I think `share` should not be integrated into either `info` or `status`. Since the clipboard interaction will delete every other content in the clipboard. In my opinion this is not the behavior you would expect from an option that displays status information. The clipboard interaction should be explicitly requested by the user.

[2015-04-20 11:44] hnarayanan commented on #11
I agree. The above is out-of-date and what I meant to say was:

1. The interface for what we call `status` and `info` today should be merged intelligently. Something like `status` providing more information than it does today (few extra attributes from `info`) and something like `status detailed` for many more (but not all, e.g. I don't see the utility of thumbnail URL) attributes from `info`.

2.

[2015-04-21 07:16] snipem commented on #11
I agree with you from a functional point of view.

But I wouldn't extend the shell options to a two dimensional structure like `shpotify status detailed` or `shpotify status share`. The beauty of shell commands is in their short and normalized structure. And `shpotify` is most likely used to type Spotify commands quickly on the command line.

I would prefer `shpotify` for a short info, with `shpot

[2015-04-21 08:04] hnarayanan commented on #11
I don't disagree with you. I am just thinking out loud here.

[2015-08-06 21:31] nicolaiskogheim opened #26 "Make it possible to play own playlists"
`spotify play list mylist` is useless if I can't play my own lists.
I read somewhere that the chosen list gets picked at random. That's fine, but I would like shpotify to search my own lists first, and give priority to those.

(I must say that the random list picking have given me some wonderful song results, so I am not at all angry about this, but, you know, it would be nice to be able to play o

[2015-08-07 04:50] hnarayanan commented on #26
Please submit a patch. 👍

[2015-10-27 20:29] ericmarkmartin opened #29 "Differentiate restart from prev"
I have found the fact that previous track actually restarts the song if you are a substantial amount through it to be an annoying feature amongst many audio control solutions, and while I often believe it to be a necessary evil (Mac laptops have only three audio buttons, the same with in-line headset controls), with a command line interface one should have the luxury of separate functions.

[2015-10-27 20:45] hnarayanan commented on #29
Yes, this is super annoying.

Do you know of a proper signal to send Spotify (the app) to inform it not to restart the song but to jump to the previous track?

[2015-10-28 03:50] IndicaInkwell commented on #29
Calling previous track 2 times after 3 or 4 seconds into the song seems to work. Also calling previous track repeatedly doesn't seem to make the transition jittery or anything.
[code]

[2015-10-28 04:04] ericmarkmartin commented on #29
@IndicaInkwell, that looks like a good solution to me. However, shouldn't the if statement go first, as `previous track` will take the user to the beginning of a track (be it their current track or the previous track), and thus the if will always evaluate.

In terms of a restart function, I was thinking:

    tell application "Spotify"
        if player position is less than 3 then
            nex

[2015-10-28 04:48] IndicaInkwell commented on #29
@ericmarkmartin you're totally right. It worked for me because the properties have a big delay before being updated to the new values.

A restart function could also be implemented like
[code]

I'll try some tests and see if I can get a more precise number than 3 or 4.

[2015-10-28 04:49] ericmarkmartin commented on #29
@IndicaInkwell Sounds great. Nice thinking with the restart function.

[2015-10-28 07:59] hnarayanan commented on #29
(I am really excited that you guys are iterating and figuring this out.)

[2015-11-04 00:58] elijahchancey opened #30 "Please make it possible to play a spotify URI or URL"
This would also solve issue #26

Thanks!

[2015-11-04 14:46] hnarayanan commented on #30
There exists a pull request that might resolve this. Could you test it and report if it satisfies your needs?

https://github.com/hnarayanan/shpotify/pull/27

[2015-11-04 14:46] hnarayanan commented on #26
There exists a pull request that might resolve this. Could you test it and report if it satisfies your needs?

https://github.com/hnarayanan/shpotify/pull/27

[2015-11-04 18:41] nicolaiskogheim commented on #26
It does not :) I want to play my own playlists. If I have to open the spotify app to copy the URI and then paste it in the terminal.. you get the point.

[2016-01-09 10:48] #22 closed

[2016-04-12 10:54] LucaPipolo opened #35 "Vol up after 100 set it to 0"
When I type "spotify vol up" and the vol in already to 100, Spotify set it to 10 and turn up it again from 10. I think it would be better if when I try to turn up the volume more then 100 a message advice me that I'm at the max.

[2016-04-25 22:51] #35 closed

[2016-06-07 04:21] arooni opened #37 "status command should also list current playlist (if available)"
Great tool!  I hate having to use the GUI and you make it easier not to.  Having this would make it more useful.

Would love to also see implementation for saving a song/artist/playlist as well.

Thanks for the great work!

[2016-06-07 06:14] hnarayanan commented on #37
This is a good idea. Please submit code if you know how to, and if you don't, please try to better describe how you'd imagine this feature so that someone else interested can try to implement it. 👍

[2016-07-05 20:15] dmofot opened #42 "Times/Durations Incorrect"
It looks like `spotify info` is outputting the wrong **Seconds** and **Duration**.  In addition, the `spotify status` command has **Position** displayed in decimal format (mm.mm) rather than Minutes:Seconds (mm:ss).  Here's an example output, song duration is actually 3:41 (3 minutes 41 seconds):
[code]
`spotify info` issues: So **Seconds** should be *221.400* and not *221400*.  It's currently mis

[2016-07-05 21:06] hnarayanan commented on #42
Please take a look!

[2016-08-21 22:29] ericmarkmartin commented on #42
I came up with this: https://github.com/hnarayanan/shpotify/pull/43

[2016-08-24 03:04] ericmarkmartin commented on #37
Unfortunately, there is no applescript for current playlist.

[2016-08-24 04:26] ericmarkmartin commented on #37
I just did some more looking around, and I can try to add something to the `spotify play list` command to store the playlist and print out the playlist if it is set. However, it may require changing the behavior of the `play list` command or perhaps even introduce a new dependency so I can parse out a JSON item from the playlist search and pull out both the playlist name and URI.

[2016-08-24 05:25] hnarayanan commented on #37
Please don't go down that route (any more deoendencies) as I likely won't accept your changes.

[2016-08-24 05:26] ericmarkmartin commented on #37
I figured as much. I'll see if anything can be done without dependencies, but it might involve changing the behavior from a random playlist selection taking the first one. Would that be okay?

[2016-08-24 06:47] hnarayanan commented on #37
Like I said earlier, I'm away from my computer. I am on vacation and trying to be away from GitHub to get some peace and quiet. Will answer in about a week. 😊

[2016-08-24 11:06] tpritc commented on #37
I would suggest not doing any storing of stuff from `spotify play list` since if I understand it correctly it would work if I selected a playlist in the GUI, then controlled it from the CLI. I experience this use-case a lot as I queue up a playlist in the app, but then skip and control playback in Atom using this.

[2016-08-24 12:14] ericmarkmartin commented on #37
@tpritc, the only other thing I can think of is another API call. I'll try to put that together to see what it looks like. @hnarayanan enjoy your vacation. I'll have some PR's ready when you get back. :)

[2016-09-03 05:21] hnarayanan commented on #30
@elijahchancey: Please let me know if https://github.com/hnarayanan/shpotify/pull/48 is heading in the direction you want.

[2016-09-16 17:59] #42 closed

[2016-09-16 18:28] #30 closed

[2016-09-18 02:05] andy4thehuynh opened #52 "Spotify URI not working"
The uri link for Final Countdown on Spotify is `spotify play uri spotify:track:3MrRksHupTVEQ7YbA0FsZK. It returns this for me:

`No results when searching for uri spotify:track:79BtIFYdWgo9FZiotlcNks`

Anyone else getting this?

Btw, awesome project. Dig it.

[2016-09-18 05:50] hnarayanan commented on #52
Are you using the most up-to-date commit of the project? I asked because URI-related code was changed yesterday.

[2016-09-18 06:47] andy4thehuynh commented on #52
I just pulled it, looks like URI might be deprecated?

[2016-09-18 08:03] hnarayanan commented on #52
Please check the comments in a PR I recently merged from @ericmarkmartin: https://github.com/hnarayanan/shpotify/pull/48

There is chance that something either broke accidentally or behaviour that changed that's causing your problem. I tested it casually and it worked for me, but please let me know if you find something else out.

[2016-09-18 16:54] tpritc opened #53 "Version 1.2"
@hnarayanan I think with all of the recent improvements and features, it's time for a v1.2 release (inc. sending it out via Homebrew).

If we create a new release, could @bfontaine update the Homebrew stuff?

[2016-09-18 17:01] ericmarkmartin commented on #53
Agreed. I was about to post the same thing. I can also make the necessary homebrew pages as long as there is a release on github.

[2016-09-18 17:23] ericmarkmartin commented on #29
I realized it's been almost a year since anyone touched this (which I also realized was quite ironic considering @hnarayanan's last comment) so I cooked up #54 to fix this issue.

[2016-09-18 18:11] hnarayanan commented on #53
Sure, once @ericmarkmartin can help confirm that #52 is not a bug.

[2016-09-18 18:21] ericmarkmartin commented on #52
You are running `./spotify`, not `spotify`, right?

[2016-09-18 18:28] ericmarkmartin opened #55 "Gitter room"
Do you think we could make a gitter channel for this repo? @hnarayanan would have to do it.

[2016-09-18 18:47] hnarayanan commented on #55
I am going to close this idea as I am not comfortable with another discussion point to check up on and maintain. But we'll revisit this if the contributing community  around this project grows. 😊

[2016-09-18 18:47] #55 closed

[2016-09-18 19:51] IndicaInkwell commented on #29
Oh man, it has almost been a year! I apologize for completely neglecting this and to be honest I also completely forgot about it.

[2016-09-18 19:53] ericmarkmartin commented on #29
No worries, I had as well until I looked at the open PR’s. As of now, I used "double previous" and your "play the current track” methods for `spotify prev` and `spotify replay` respectively, but if you can think of a better way (the current way works fine but I believe counts towards the next ad count for free users), please let me know and we’ll update the code.

[2016-09-18 20:28] hnarayanan opened #57 "Update help syntax"
The following linked PR cleans up things and allows now for the one optional command `vol [show]` in classic man page syntax. What do you guys think? @tpritc @ericmarkmartin.

https://github.com/hnarayanan/shpotify/pull/56

[2016-09-18 20:31] IndicaInkwell commented on #29
That sounds good, will keep that in mind.

I did notice something right now though: for replaying the track do you know if, and why, it may be better to `play track (get spotify url of current track)` or to `set player position to 0`? I can't think of why, but I feel like there is a reason.

Setting player position doesn't increment ad count afaik.

[2016-09-18 20:32] hnarayanan commented on #29
I like where @IndicaInkwell is going with this. Feel free to reopen this issue and update the code if you guys come to an agreement.

[2016-09-18 20:37] IndicaInkwell commented on #29
@hnarayanan Sweet, will do!

For going to the previous track you could do something like this:

[code]

Which will remove the guessing of the correct time frame to go back a song?

[2016-09-18 20:38] hnarayanan commented on #29
I like the sound of this too, if it works without any obvious skipping in the audio.

[2016-09-18 20:41] IndicaInkwell commented on #29
@hnarayanan I'm gonna fork and play/use it for a day or two and get back to you. But, I guess as the saying goes, why fix what aint broke?

[2016-09-18 20:44] hnarayanan commented on #29
There is no hurry and no pressure. Play around and we'll merge if/when you arrive at something better.

[2016-09-18 20:45] hnarayanan commented on #57
I like it, so going ahead with the merge. 😄

[2016-09-18 20:45] #57 closed

[2016-09-18 21:01] ericmarkmartin opened #58 "`spotify vol` either reads or sets volume incorrectly."
I observed the following behavior:
[code]

This behavior also occurs with `spotify vol up` and `spotify vol down`. Note that this behavior was not changed when #45 was merged which caused `spotify vol [amt]` to print a message that the volume was being changed.

Please also note that this behavior is erratic and doesn't always result in the volume being (or being _read as_) 1 less than the request

[2016-09-18 21:03] hnarayanan commented on #58
I noticed this too. And also noticed this bad behaviour existed before.

[2016-09-18 21:05] ericmarkmartin commented on #58
Unfortunately, I believe this is probably a problem with the Spotify AppleScript interface and thus out of our hands, unless someone wants to submit a bug report to Spotify, and I really have no idea what the process looks like especially in terms of time frame.

[2016-09-18 21:09] hnarayanan commented on #58
I don't think anyone really cares or can discern few % diff in the audio level. Will leave this open anyway for some arbitrary point in the future.

[2016-09-18 21:10] ericmarkmartin commented on #58
Yeah. It's not so much a usability problem but it makes life difficult if I were hypothetically writing a test suite.

[2016-09-18 21:12] hnarayanan commented on #58
This is not (or shouldn't be!) a mission critical app. But even if one were testing, they'd need to code up an approximately_equals operator.

[2016-09-18 21:14] ericmarkmartin commented on #58
That's what I figured

[2016-09-18 21:16] hnarayanan commented on #52
@andy4thehuynh: I am not able to reproduce your bug either with the current `spotify`.

[2016-09-18 21:17] hnarayanan commented on #52
Enjoying some *Final Countdown* as a result.

[2016-09-18 21:19] ericmarkmartin commented on #52
This made me wonder if it might make sense to include a spotify --version command. Thoughts?

[2016-09-18 21:21] hnarayanan commented on #52
This is not a bad idea. But after `1.2`, which only needs this issue to be resolved. `1.3` will be all about cleaning up the output and not new features. A version command will fit well there.

Also, Andy, you should be using the even more awesome `spotify play final countdown` UI. ⭐

[2016-09-18 21:22] ericmarkmartin commented on #52
Got it. I'll make an issue and if you can tag it with the `1.3` milestone that would be cool.

[2016-09-18 21:24] ericmarkmartin opened #59 "Version command"
For the sake of debugging and compliance with CLI standards, a `version` command of some sort should be included in the shpotify API.

Possible ideas for the command syntax (multiple different syntaxes can be used):

- `spotify -V`
- `spotify -v`
- `spotify --version`
- `spotify version`

[2016-09-18 21:27] ericmarkmartin commented on #52
Ah, I have an idea for a makeshift version to close out this issue. @andy4thehuynh, could you run `spotify vol 50` and let me know if there's any output?

[2016-09-18 21:30] tpritc commented on #59
I like `spotify -v` and `spotify --version`.

[2016-09-18 21:32] hnarayanan commented on #59
Agree with @tpritc.

[2016-09-18 21:33] ericmarkmartin commented on #59
I also agree with @tpritc: they are the most standard and thus the most predictable.

[2016-09-18 21:39] hnarayanan commented on #58
The following highly unscientific patch always seems to work. I don't have an explanation other than to blame floating point arithmetic or something, even though we're supposedly working with integers.

[code]

[2016-09-18 21:42] ericmarkmartin commented on #58
This is why we need [DEC64](http://dec64.com/).

[2016-09-18 21:50] andy4thehuynh commented on #52
@ericmarkmartin I ran `spotify vol 50`.. the output is at half in Spotify.

@hnarayanan I'll try running ./shpotify and pull down the script. Will follow up.

[2016-09-18 21:52] ericmarkmartin commented on #52
@andy4thehuynh I should have been more specific. Did you see an output message in terminal, or did you just get the prompt without anything being printed to stdout?

[2016-09-18 23:09] andy4thehuynh commented on #52
@ericmarkmartin no output to stdout. It adjusted my Spotify volume, though.

[2016-09-19 05:39] hnarayanan commented on #52
Thank you, then you're definitely running an older version of the code. Please make sure you git pull and run `./spotify` within the folder you just pulled.

I am going to close this issue as I'm quite certain your problem will be resolved then. But feel free to reopen it if not.

[2016-09-19 05:39] #52 closed

[2016-09-19 05:40] hnarayanan commented on #53
I've now tagged a 1.2.0 release. I don't think anything needs to be done for homebrew, but if it needs to be, someone else please look into it as I don't know anything about that. 😄

[2016-09-19 05:40] #53 closed

[2016-09-19 19:08] dmofot commented on #53
I just updated the formula in [Homebrew/homebrew-core](https://github.com/Homebrew/homebrew-core) with pull request [#4983](https://github.com/Homebrew/homebrew-core/pull/4983) and it's been merged.

[2016-09-19 19:08] ericmarkmartin commented on #53
Was just about to do that. Thanks @dmofot.

[2016-09-19 19:14] hnarayanan commented on #53
Thank you!

[2016-09-20 13:46] ubuntudroid commented on #53
@dmofot Thanks for updating the homebrew formula for me! 👍  I was without internet yesterday, and just about to do it when I saw it already done. 😄

[2016-09-20 21:10] IndicaInkwell commented on #29
All right, I have been using shpotify with the above changes and it works just fine. It also seems like neither `set player position to 0` nor `play track (get spotify url of current track)` goes towards the next ad.

An advantage of setting player pos is that it's immediate. The play track version takes a moment.

What do guys think? Shall I open a pull request?

[2016-09-20 21:14] hnarayanan commented on #29
I don't have a strong feeling about this because I tend to listen to whatever same song I'm listening to over and over again on repeat. Meaning I don't manually use the replay option. 🤓

So I'll leave someone else to comment more meaningfully.

[2016-09-20 21:17] ericmarkmartin commented on #29
I think I agree with @IndicaInkwell on this one. Setting player position in addition to avoiding the unconfirmed 3 seconds value semantically seems more directly like what we are after.

[2016-09-20 21:19] IndicaInkwell commented on #29
Okay, cool. I'm going to open a pull request in a little bit.

[2016-09-23 02:53] ericmarkmartin commented on #59
Essentially I'm debating whether to go with the simple version output (like Python):
[code]

Or something with a license:
[code]

I'm probably overthinking this, but I would rather just get it right the first time.

[2016-09-23 03:15] ericmarkmartin opened #63 "Sub commands should show separate help messages when used incorrectly"
Currently, `spotify vol` will give you a message if you use the command incorrectly:
[code]

I think it would be wise to make all commands conform to this, because otherwise things like this happen:

[code]

I suppose that for most commands, this isn't particularly helpful (`status`, `next`, etc) but for some current commands and especially in the future, I think it would be helpful as new command

[2016-09-23 03:24] ericmarkmartin commented on #59
Added PR #64

[2016-09-23 07:26] hnarayanan commented on #59
Still reeling from the last flurry of commits and the release. Will get to this in time.

[2016-09-25 09:58] tpritc commented on #63
I like the idea of help commands, as it really helps to expose functionality in a user interface that has little affordance to help the user.

For your `spotify play help` issue, perhaps we could use `spotify help play`, meaning we could work for an arbitrary number of instances, and we could even seek forward a few commands to give more in-depth help. Not sure how standard either of these options

[2016-09-25 16:42] ericmarkmartin commented on #63
Just did some digging and I think you're right about `spotify help [cmd]` vs `spotify [cmd] help`. For instance `git` and `brew` use `git help [cmd]` and `brew help [cmd]` respectively.

With that decided, we could relatively easily add to the help command to implement this functionality, but I'm wondering if, in the pursuit of modularity and saving our future selves time as opposed to our current

[2016-09-25 16:44] hnarayanan commented on #63
I will take a look in a bit. I am trying to focus on some other projects right now, and they're requiring a lot of my concentration. :)

[2016-09-25 16:46] ericmarkmartin commented on #63
@hnarayanan thanks for checking in. Don't worry about it: I'm sure you have plenty of other important things to focus on at any given moment and I'm not in a rush on any of these issues.

[2016-10-17 14:47] 0x62 opened #67 "Pos without an argument should return current position"
Currently executing `spotify pos` returns an error:

[code]

Instead, I suggest that it should return the current position:

[code]

Would a PR with this change be accepted?

[2016-10-17 15:46] hnarayanan commented on #67
Yes, please!

[2016-10-27 22:20] jgillman opened #68 "Library not loaded "libreadline"?"
I'm not sure what happened, I probably updated something on my system and didn't realize it broke shpotify... I'm getting this error when I try to run it:

[code]

When I look in `/usr/local/opt/readline/lib` I see libreadline, but it's `libreadline.7.dylib` (which I assume means I have version 7). I've got shpotify installed with brew.

[2016-10-27 22:22] hnarayanan commented on #68
I have no idea, but this seems like a breakage well below the level of shpotify. Try uninstalling and reinstalling libreadline in homebrew to see if that helps.

I can't give you clearer advice off the top of my head as I am not a homebrew user and I haven't seen this particular bug before.

[2016-10-27 22:43] jgillman commented on #68
@hnarayanan Thank you, I've tried uninstalling and reinstalling with brew to no avail but this is definitely not an issue with shpotify and perhaps inappropriate to put in an issue here

We hoping another user would have the same problem and could point me in the right direction!

[2016-10-27 22:44] hnarayanan commented on #68
I understand. I will leave this issue open here for a couple of days. Hopefully someone else can help you in that period.

[2016-10-27 23:08] jgillman commented on #68
[Found a solution!](https://github.com/Homebrew/homebrew-core/issues/5799#issuecomment-252953038)

**TL;DR:** `brew upgrade bash`

Hopefully this will help at least one other person searching for the same thing 😄

[2016-10-27 23:08] #68 closed

[2016-11-25 06:39] lovejoy commented on #68
I use zsh` brew upgrade bash` dont fix
` ln -s /usr/local/opt/readline/lib/libreadline.7.dylib /usr/local/opt/readline/lib/libreadline.6.dylib`
fix this

[2016-11-25 07:38] hnarayanan commented on #68
Thanks @lovejoy. Hope your note here helps someone in the future.

[2016-12-01 06:36] the-c0d3r commented on #68
Thank you @lovejoy, because of this bug, i've tried uninstalling and reinstalling zsh, antigen, and vim a bunch of times (on a side note, i've been using antibody ever since). I have tried symlinking the 7.dylib to 6.dylib somewhere else but it didn't work. Must be a different location. There was this one line of code from antigen.zsh that calls awk, which was the main culprit.

[2016-12-13 17:32] ccarlile commented on #68
@lovejoy I use zsh as well, but `brew upgrade bash` fixed the issue for me anyway.

[2016-12-31 13:43] sqhtiamo commented on #68
Thanks @lovejoy. I use zsh as well, and it really works!

[2017-01-11 05:40] moshed opened #69 "Save and Like Song Functionality"
would it be possible to add this functionality?

[2017-01-11 06:46] hnarayanan commented on #69
Sure, it's possible. Please describe in more words how you would imagine these features working.

[2017-01-11 15:23] moshed commented on #69
not being a delveloper i would know nothing of the actual implementartion bt i would imagine the command would be something like `spotify like` to like a currently playing song on the radio and `spotify save` to save the currently playing song to your library

[2017-01-11 15:26] hnarayanan commented on #69
We're getting there. `spotify like` I understand. What does it mean to `spotify save` to *your library?*

[2017-01-11 15:33] moshed commented on #69
![image](https://cloud.githubusercontent.com/assets/8683379/21854581/439ccaba-d7e9-11e6-9f71-78505fae2b4c.png)

what i mean is: accomplishing the same functionality as pressing this button. that saves the current song to "your music"

[2017-01-11 15:39] hnarayanan commented on #69
Which playlist? 😄 In the graphical UI you have a currently selected playlist to add to, but we don't really have the same concept in the command line interface.

[2017-01-11 15:53] moshed commented on #69
no im curently on a playlist (made by spotify). that button saves the song to "Your Music" which is different than a playlist. if you looks above the plylist section in the topbar in my picture theres a "Your Music" section which aggregate all songs youve "saved" and you can sort by song artist etc. these songs do not have to be in a playlist to be added to your music

[2017-01-11 16:09] hnarayanan commented on #69
Then what's the difference between this playlist and a list of favourites (likes)?

[2017-01-11 16:26] moshed commented on #69
there isnt much honestly. it hink the save song method is supposed to be for everything then yu can arrange specifc genres or whatever you want into separate playlists

[2017-02-08 07:22] lutaoact commented on #68
@sqhtiamo It really works for me as well.

[2017-03-05 22:51] archcorsair opened #70 "Linux support"
Love this little tool, use it at work all the time. At home I work on linux (Ubuntu 16.10).
Would be great to be able to use it at home too :smiley:

When attempted to run on Linux:
[code]
Spotify restarts when I attempt to run the `spotify` command

[2017-03-06 00:15] tpritc commented on #70
This makes heavy use of the Applescript support in the macOS client of Spotify, so unless I'm mistaken, Linux support is _really_ unlikely.

[2017-03-06 15:46] dmofot commented on #70
@archcorsair similar Linux clients already exist.  You might have a look at [sp](https://gist.github.com/wandernauta/6800547).

[2017-03-06 15:48] hnarayanan commented on #70
Exactly. 😀 I am closing this because it is well outside the scope of what this project tries to be, but please do try alternatives as @dmofot suggests.

[2017-03-06 15:48] #70 closed

[2017-03-24 16:13] incandescentman opened #71 "apostrophes cause an error"
shpotify is brilliant! Amazing work. Question:

`$ spotify play wouldnt it be nice` works, but if I use an apostrophe and do `$ spotify play wouldn't it be nice` it puts me in some kind of process that gives me a `>` and won't accept commands.

[2017-03-24 18:03] bjornrud opened #72 "toggle repeat does not handle "repeat single track" mode"
Thanks for this package!!!  Happened upon this:

**Steps to reproduce**
 - Use the spotify client to set repeat to single track mode (the repeat w/ a `1` badge)
 - Issue `spotify toggle repeat` command.
 - Regardless of command output, the spotify client's repeat mode is _still_ set to single track, and will incorrectly report `false`

**Expected Behaviors**
 - `toggle repeat` when spotify is in a

[2017-03-24 18:32] dmofot commented on #71
This will probably be shell specific (in my case bash), but here's what's working for me:
## No Apostrophe / No Quotes
[code]

## Apostrophe / Quotes
[code]

## Apostrophe / No Quotes
[code]

The last one works by using another apostrophe.  You just need to close the apostrophe since the shell thinks it's a single quote.  You can use as many apostrophes as you need as long as there is an even numb

[2017-03-26 00:25] hnarayanan commented on #72
Thanks for this! I think I understand what you're getting at, but I am not super clear. Would you like to try submitting a pull request so I can see the behaviour you expect in code?

[2017-03-26 20:52] bjornrud commented on #72
@hnarayanan Would you be amenable to breaking the expected behavior into a different feature request?  I would leave the fact that `toggle` has no effect whatsoever in single-track mode as a separate bug issue.  I want to PR your work, but can't promise anything as I have the most basic understanding of `bash`

[2017-03-27 16:51] incandescentman commented on #71
OK great, using quotation marks works, as does omitting the apostrophe. (Those are both much more intuitive than closing the single quote.)

[2017-03-27 16:51] #71 closed

[2017-03-28 03:33] aaronrudkin opened #73 "Package does not list Spotify as a dependency"
This might seem obvious, but nothing on the shpotify main page lists Spotify as a dependency. I think I'm probably not the only person to assume that shpotify was a command-line spotify client, rather than a command-line dispatcher for the official Spotify application. ("Interface" in the project description is ambiguous as to which meaning of the word it refers to)

In addition, once installed, t

[2017-04-22 18:06] akath20 commented on #69
Consider me +1 for having the option to add the current playing song to a playlist!

[2017-04-23 13:53] hnarayanan commented on #69
Would you guys like to collaborate and tried to add this feature? 😇

[2017-04-23 13:54] akath20 commented on #69
I am almost done with a python script to do it actually!
On Sun, Apr 23, 2017 at 9:53 AM Harish Narayanan <notifications@github.com>
wrote:

[2017-04-23 14:40] hnarayanan commented on #69
Cool, then maybe the ideas there can be repurposed in `bash`.

[2017-04-27 14:34] agentfitz opened #74 "playing song or playlist from uri"
Awesome utility! Using brew had it working in less than a minute. I saw issue #26 and that is the functionality I was hoping to find.

`spotify play list mylist`

However, I was thinking I could work around this issue for the time being by copying the uri from my playlist and triggering its playback directly with the `uri` command. I've noticed Spotify gives you two kinds of uris depending how you

[2017-04-27 14:36] hnarayanan commented on #74
Thanks, and I don't know. 😅 This is not a feature I use, but will check.

[2017-04-27 14:56] dmofot commented on #74
Using `spotify play uri <uri>` is working for me:
[code]

I also tried the URI you have above and that also works for me:
[code]

<img width="400" alt="screen shot 2017-04-27 at 10 55 24 am" src="https://cloud.githubusercontent.com/assets/5605132/25489574/39400544-2b38-11e7-8ef8-cf32b56639c3.png">

[2017-04-27 15:01] agentfitz commented on #74
Hey, thanks for testing that! I find that odd as I haven't been able to have the same success (screenshot below). What operating system are you on?

![image](https://cloud.githubusercontent.com/assets/539712/25489758/dc566d4a-2b38-11e7-845a-27fa84526a1e.png)

[2017-04-27 15:01] hnarayanan commented on #73
(I am not sure why I missed this earlier.)

This is a good idea. Would you like to submit a patch?

[2017-04-27 15:04] hnarayanan commented on #74
@agentfitz: This *doesn't* work for me on `zsh` but works for me on `bash`.

🤷‍♂️

[2017-04-27 15:05] dmofot commented on #74
OSX Sierra 10.12.4, iTerm2 Build 3.0.15, GNU bash, version 4.4.12(1)-release (x86_64-apple-darwin16.3.0)

[2017-04-27 15:07] hnarayanan commented on #74
<img width="723" alt="screen shot 2017-04-27 at 4 07 31 pm" src="https://cloud.githubusercontent.com/assets/661446/25490078/ada93cae-2b63-11e7-95ec-34bcc0b5394b.png">

[2017-04-27 15:08] agentfitz commented on #74
Interesting, just tried switching to `bash` and had the same result. Odd.

OSX El Capitan
Version: 10.11.5 (15F34)

![image](https://cloud.githubusercontent.com/assets/539712/25490021/9de6e43a-2b39-11e7-9882-aaade3232498.png)

[2017-04-27 15:26] dmofot commented on #74
Hmm, can you check a couple of things?

1. Does it work if you quote the <uri>, i.e. `"spotify:user:123785495:playlist:2k7wiwTEE0JlN39pvPlpUT"`?
2. If you put the <uri> directly into the search box in the Spotify app, does that work?
<img width="400" alt="screen shot 2017-04-27 at 11 25 33 am" src="https://cloud.githubusercontent.com/assets/5605132/25490904/541ad6d8-2b3c-11e7-86ec-2cb06ba249db.png

[2017-04-27 15:30] agentfitz commented on #74
Using quotes doesn't work (tried that earlier too), pasting into spotify search box *does* work.

![image](https://cloud.githubusercontent.com/assets/539712/25491025/b575bc04-2b3c-11e7-9136-282aec7bd4f3.png)

![image](https://cloud.githubusercontent.com/assets/539712/25491078/dd58464c-2b3c-11e7-8985-1f6d44a26d21.png)

[2017-05-11 17:48] tompanhuhu opened #75 "Spotify connect support?"
Is it possible start playback on a spotify connect speaker?

[2017-05-11 19:39] hnarayanan commented on #75
I'm sorry I don't understand your question. Could you try to rephrase it?

[2017-05-27 19:37] dacoty commented on #74
I'm having the same problem, using the exact setup as dmofot.

[2017-05-31 19:50] MatthewWolff opened #76 "Artist Not Found"
First noticed issue when a command that previously worked stopped working.
"spotify play artist moderat" now returns "no results when searching for moderat"
Issue persists for all searches. "spotify play artist drake" also returns that no results were found.

[code]

[2017-06-01 14:52] thomasverleye commented on #76
It's probably because the curl call needs an access token from now on (correct me if I'm wrong)
I've added my access token as followed:
Change line 131:
`curl -s -G $SPOTIFY_SEARCH_API --data-urlencode "q=$Q" -d "type=$type&limit=1&offset=0" -H "Accept: application/json" -H "Authorization: Bearer <yourAccessToken>" \
`
Obviously you need to change the `<yourAccessToken>` with your own access token

[2017-06-01 14:54] thomasverleye commented on #76
So a feature on this would be a command which saves your access token to a local file.
The command to save your access token would need to be something like `spotify authorize`

[2017-06-01 14:55] hnarayanan commented on #76
😞 Yes, this looks like the way it must go.

[2017-06-01 15:00] thomasverleye commented on #76
I'll be having a look at, I'm a total bash noob so don't expect to much here 😅
In the meantime you could add a piece of documentation in the readme.md on how request and add your access token manually?

[2017-06-02 12:41] HendrikPetertje commented on #76
I fixed my vimify (full spotify interface in the VIM editor) by having the user generate a token, then sending that in as a parameter on the vim ENV.
You could make a look-alike of that and on command 'spotify auth' open a browser sending the user to the spotify auth page.

Would you mind if I open a pull request later today with an auth interface that does the following:

- User writes `spotify a

[2017-06-02 12:55] HendrikPetertje commented on #76
Ow this is fun, When creating an auth token, it actually expires somewhere between 30 minutes and an hour.
Seems spotify is trying to put an end to automated scripts then :(

[2017-06-02 13:47] hnarayanan commented on #76
😞😞

[2017-06-02 14:42] biomedia-thomas commented on #76
Couldn't you store a refresh token instead so you can obtain a new auth token?

[2017-06-02 14:44] hnarayanan commented on #76
Perhaps. It's just this cognitive load and now it feels, as @HendrikPetertje that we're fighting against the tide.

[2017-06-03 07:55] thomasverleye commented on #76
I've created a php script which is hosted on a personal server, It exports the accesstoken in json. The only thing I can't seem to figure out is how to read out the accesstoken code in bash. I've already written a part where I store the json locally.
`"authorize" )
            cecho "Opening Authorization.";
            ACCESS_URL="http://shpotify.preflight.space/access.php"
            CALL=""

[2017-06-03 14:01] hnarayanan commented on #76
Thank you for helping research this. I am going to make some time to experiment with some of this and will report back here too.

[2017-06-07 00:33] incandescentman commented on #76
Thanks!

[2017-06-12 14:06] ebartrum opened #77 "No results when searching for anything. On OS X"

[2017-06-12 14:07] hnarayanan commented on #77
I know :( #76.

[2017-06-12 14:33] ebartrum commented on #77
:( Hope you can find a solution. I'm a big fan of this script!

[2017-07-16 21:48] g-bon commented on #76
Technically is not a big challenge, I've obtained a key and implemented a correct authentication (that can be refreshed automatically so it doesn't expire) in 10 minutes, and I think that apart from a possible rate limit on the requests, you don't violate the terms of services.

In fact you are piloting spotify itself and not building a standalone application. So your app is considered a non-strea

[2017-07-17 05:37] hnarayanan commented on #76
Awesome. Could you submit a PR?

[2017-07-17 11:59] g-bon commented on #76
My implementation is in python so I'm afraid I don't have a PR ready, but I'm sure someone confident with bash can pull this off quickly.

The steps involved are described here
https://developer.spotify.com/web-api/authorization-guide/#client_credentials_flow

Curl post request to the /token resource
Parse the json response to get the returned token
Any following request should contain the token

[2017-07-17 12:05] hnarayanan commented on #76
Thank you cery much for sharing so much detail. I or someone else will attempt to improve shpotify in this manner.

[2017-09-05 17:26] BradleyJHumble opened #79 ""spotify next" bug issue"
It worked once for me. Now it will shift to the next song but not play it saying that "Spotify is currently paused". It is weird because it would be playing a song and when I enter Spotify next this bug pops up. Originally it worked but after I tried all the other commands it wouldn't work again. I tried restarting the terminal but it still does it for me.
![screen shot 2017-09-05 at 12 26 10 pm](

[2017-09-05 17:30] BradleyJHumble commented on #79
Oh wow right when I post the bug I got it to work. Ok so this error happens if you have the spotify desktop app open and clicked to change the playlist. Or at least that is how I encountered the bug. But regardless this is a bad since the playlist command doesnt work either so this bug is another one to add to the list.

[2017-09-21 02:10] hamannjames opened #80 "Using any command causes spotify to not automatically play next track"
This is a very weird thing I keep running into. When I use a command spotify will respond, but the next song in a playlist won't automatically play. When I use the next command, it tells me spotify is paused. I have to open up my app and manually go to each song to play. Only doing a "clean" re-install of spotify fixes things. I have had to re-install a couple times. It's very strange.

I am on a

[2017-09-28 18:30] fonsecapeter commented on #76
Hey everyone, I've been quietly using shpotify up until this bug came along (major bummer because shpotify is awesome!) and just noticed this official issue. Anyway I didn't realize shpotify was just a single bash script (love it!), so I thought I'd give it a go and ended up with a pretty simple fix.

I threw this together really quickly so it's probably way off your bash style, but I basically ju

[2017-09-28 18:41] hnarayanan commented on #76
@fonsecapeter: Why, please do!

[2017-09-28 18:49] hnarayanan commented on #76
@fonsecapeter: I was so excited to get to this, I didn't read your full notes :) I have pointed out both the  `jq` dependency and the embedded API token as part of a code review of your PR.

[2017-09-28 19:11] fonsecapeter commented on #76
Haha no worries! I'll reply in the PR

[2017-09-29 08:05] simoheinonen commented on #76
On macOS the default `base64` doesn't support `--wrap=0` option. The GNU one can be installed with `brew install coreutils` for example though. Could consider supporting both somehow though.

[2017-09-29 14:42] g-bon commented on #76
That's good! Finally a kind heart fixed this.
The brew formula should b updated as well when this is integrated. https://github.com/Homebrew/homebrew-core/blob/master/Formula/shpotify.rb

[2017-10-17 12:17] ilbonzo commented on #77
I have the same problem

[2017-10-20 16:57] 20Mhz commented on #75
I think this means to control Spotify via shpotify command line tool, but the playback is done by remote device. This is supported today with Spotify mobile app through a feature call Spotify Connect. I think it would be useful.

[2017-10-29 20:54] jasonhemann commented on #76
Any update on this issue? I've pulled down the latest brew formula 1.2.0, and I'm still seeing this issue. Is the brew formula still waiting to be updated?

[2017-10-29 20:55] hnarayanan commented on #76
Not yet, I am yet to merge the pull request that fixes this.

[2017-11-04 17:12] #76 closed

[2017-11-04 17:25] hnarayanan commented on #76
Whoever likes updating brew formulas, please do your thing. 🙏

[2017-11-04 19:04] hnarayanan commented on #80
I am sorry, I tried quite a bit but I am unable to reproduce this. Am closing this issue now, but please re-open it later if you have a concrete set of steps to reproduce the problem.

[2017-11-04 19:05] #80 closed

[2017-11-04 19:07] hnarayanan commented on #79
Much like #80, I am not able to reproduce this. And I tried quite a bit.

Closing this issue now, but please reopen this if it is bothersome.

[2017-11-04 19:07] #79 closed

[2017-11-04 19:07] hnarayanan commented on #77
This has now been fixed!

[2017-11-04 19:07] #77 closed

[2017-11-04 19:11] hnarayanan commented on #74
Did you guys manage to reach some sort of conclusion on this?

[2017-11-04 22:51] hnarayanan commented on #76
@fonsecapeter: I'd forgotten about the expiration thing that @g-bon pointed out. Need to figure out how to work in that behaviour too.

[2017-11-05 17:15] dmofot commented on #74
I just updated to _shpotify 2.0_ and tried `spotify play uri <uri>` and it still works for me.  `spotify play list <list>` still doesn't return any results, which doesn't surprise me given there is no `list` commands in the _Spotify.sdef_ file.  That command should probably be removed...

OSX Sierra 10.12.6
iTerm2 Build 3.1.4
GNU bash, version 4.4.12(1)-release (x86_64-apple-darwin16.3.0)

![scree

[2017-11-06 20:11] nevinvalsaraj commented on #76
I have the brew package installed and `~/.shpotify.cfg` set up as specified in the Readme, but there seems to be no results for any search. Is there a timeline for this fix?
No background in Ruby/Homebrew or I would have fixed this myself (Up for it, if someone can guide me on where to start).

[2017-11-06 20:54] hnarayanan commented on #76
It's not super cool to show up to an open source project and ask about a timeline for anything.

Anyway, there is a problem the [auth credentials expire](https://github.com/hnarayanan/shpotify/issues/76#issuecomment-315639643) in some time, which causes subsequent searches to fail. There is an idea provided by @g-bon above if someone wants to attempt a fix.

[2017-11-06 22:25] g-bon commented on #76
Hi @hnarayanan and @nevinvalsaraj let's try to figure out what's happening.

What I see:
- Just updated from homebrew and everything is working fine for me. Search included. @nevinvalsaraj could you provide a bit more details? What command are you launching exactly, what error message do you see?

- From the new code pulled in, I see that the authentication phase is repeated from scratch for every

[2017-11-06 22:57] hnarayanan commented on #76
For me, it works for about 1 hour at which point searches stop working.

[code]

Reproducing what the code attempts to do in the command line seems to suggest what is going on.

[code]

[2017-11-07 09:15] nevinvalsaraj commented on #76
@hnarayanan Apologies, perhaps I should have been clear. I only meant to ask if someone is working on this, in which case I need not try and dig deeper.

@g-bon I have done a fresh install from Homebrew and set-up my `~/.shpotify.cfg` as specified in the Readme. Subsequently, I tried
[code]
which yields the output
[code]
while Spotify opens in the background and resumes my last played song(but not

[2017-11-07 09:46] g-bon commented on #76
No worries @nevinvalsaraj, happy it works for you.

@hnarayanan that does not happen to me. Played things for over a day now. Maybe you have some local version in the path and not using the latest one from homebrew?

[2017-11-07 17:30] fonsecapeter commented on #76
Hi everyone, sorry for the delay!

As for the expiring tokens, I think @g-bon got it spot on -- I opted for the simple approach of just re-authenticating each request so shouldn't be a thing here. I figure we could always add the storing/authenticating logic later if performance ever becomes a problem.

The only thing I could think of for the issue @hnarayanan found is some kind of throttling -- t

[2017-11-07 17:41] hnarayanan commented on #76
I will confirm, but...

It happens each time I try a new set of keys. It works for about 30 min--1 hour and then it stops.

[2017-11-07 17:49] jillmolloy commented on #76
I came across shpotify a few weeks ago, prior to this update, and I found this issue when I received no results after initial installation.

I've been following this issue, so when the fix was released over the weekend I jumped on it first thing on Monday morning to install, but I'm having the same results on my end as I did pre-update. No results.

I believe I'm set up correctly, as I've added my

[2017-11-12 14:40] g-bon commented on #76
@hnarayanan Always working fine for me, without being able to replicate it I don't know how to investigate that.

@jillmolloy any progress? did you find .shoptify.cfg created for you and you automatically and you just filled id with your client id and secret?
I know it's stupid but did you triple check the auth values?
What error do you see?

@hnarayanan @jillmolloy  I guess it would be nice to ad

[2017-11-12 14:43] hnarayanan commented on #76
@g-bon: I had a hunch and tried it. It works in `bash` but not `zsh`, my usual shell.

[code]

[2017-11-12 14:44] hnarayanan commented on #76
It could have something to do with how the `.cfg` file is sourced.

[2017-11-12 14:47] jillmolloy commented on #76
@hnarayanan I’ll get back to you on your other questions when I’m in front of my computer, but just wanted to let you know you might be on the right track there — I use zsh too. Will try bash.

[2017-11-12 14:49] g-bon commented on #76
awesome that found the probable code. Shall we continue on a new bug? This is formally close so not visibile automatically to people who might have the same problem

[2017-11-12 14:51] hnarayanan commented on #76
Let me open a new issue.

[2017-11-12 14:52] hnarayanan opened #84 "Commands involving search don't seem to work on zsh"
The details of this were slowly beginning to take shape in the discussion on an earlier issue: https://github.com/hnarayanan/shpotify/issues/76#issuecomment-342271420

[2017-11-12 14:53] hnarayanan commented on #76
#84

[2017-11-12 15:02] hnarayanan commented on #84
And in the previous issue (linked above), I mentioned that it worked for sometime and then stopped working. I thought it had something to do with time (like 30min--1 hour), but it might actually have something to do with me closing and opening my shell window. This is why I think it has something to do with how the config file is sourced.

cc: @g-bon, @nevinvalsaraj, @jillmolloy

[2017-11-12 15:34] hnarayanan commented on #84
This is really confusing and interesting.

It turns out that I not only use `zsh` but a collection of scripts for it called `oh-my-zsh` that adds some useful functionality on top. Anyway, someone (@mahi97) has copied an old version of this script into this project wholesale: https://github.com/robbyrussell/oh-my-zsh/blame/d874c73f19d8430f4dc32756fff0bf2f6a804d87/plugins/osx/osx.plugin.zsh

Which i

[2017-11-13 15:00] henrik242 opened #85 "A "pause" command that doesn't toggle play/pause"
I'd like a pause command that doesn't resume play if Spotify is already paused.  So maybe `spotify toggle` for play/pause toggle and `spotify pause` that always pauses?  Or maybe `spotify force-pause` so it doesn't interfere with the existing command?

[2017-11-13 21:14] hnarayanan commented on #84
https://github.com/robbyrussell/oh-my-zsh/pull/5356#issuecomment-344048908

[2017-11-14 08:24] g-bon commented on #84
That's really interesting, would you need to update oh-my-zsh every time there is an update here or you can just remove from there so that shpotify installed with homebrew is picked automatically?

[2017-11-14 08:46] hnarayanan commented on #84
I am not sure, and this is bothering me too.

I think I have to keep it up-to-date, just like we keep Homebrew up-to-date because many people seem to be using it as part of the oh-my-zsh project (and there were similar bug reports there too).

[2017-11-14 16:51] hnarayanan commented on #84
Ok team, we're getting closer: https://github.com/robbyrussell/oh-my-zsh/pull/6419

[2017-12-03 20:21] ersel opened #88 "spotify play artist not working"
Searching for artists doesn't seem to be working.

When I do
`$ ./spotify.sh play artist metallica`

It outputs:
Connecting to Spotify's API
Searching artists for: metallica
play uri: spotify:artist:2ye2Wgw4gimLv2eAKyk1NB
Playing (metallica Search) -> Spotify URI: spotify:artist:2ye2Wgw4gimLv2eAKyk1NB

but Spotify doesn't play. Searching and playing albums, tracks and playlists does work.

[2017-12-04 23:40] felipeauol commented on #88
Having the same issue on my end. I see the indication the artist was found after the search, Spotify opens but does not play the artist.

[2017-12-04 23:42] felipeauol opened #89 "spotify play list not working"
When searching for playlists, the API does not seem to find any playlists in Spotify wether user owned or not. For instance the command:

`spotify play list daily lift `

gives the following output:

`Searching playlists for: daily lift`
`No results when searching for daily lift`

[2017-12-08 14:44] turbopope commented on #89
I'm having the same problem.

[2017-12-08 15:11] hnarayanan commented on #89
Can someone who uses this feature please take a look?

[2017-12-08 16:01] turbopope commented on #89
I'm looking into it, will submit a pull request later.

[2017-12-08 16:23] turbopope commented on #89
Alright please check PR #90.

[2017-12-08 16:41] hnarayanan commented on #89
This is now fixed thanks to @turbopope.

[2017-12-08 16:41] #89 closed

[2017-12-08 16:41] hnarayanan commented on #88
I can reproduce this now. I don't know why I couldn't a few days ago.

[2017-12-08 16:45] dmofot commented on #89
If you want to create a new release, one of us can update the homebrew recipe.

[2017-12-08 16:46] hnarayanan commented on #89
Not yet. I would like to fix the artist play thing too, then I'll make a release.

The thing I am really trying to get merged is https://github.com/robbyrussell/oh-my-zsh/pull/6419, which is blocking many zsh users (me included) from experiencing the canonical version of this script.

[2017-12-08 17:53] hnarayanan commented on #88
I have a sinking feeling that this has something to do with a recent change in Spotify. I am continuing to debug this.

[2017-12-09 16:13] ersel commented on #88
That's what I thought as well, if one tries play artist command by directly going to the AppleScript Editor it will also fail.

[2017-12-09 16:15] hnarayanan commented on #88
I tried this too. It only works when I paste the uri into the Spotify desktop app in the search field.

I am thinking of temporarily removing this feature until this regression(?) in Spotify is fixed.

[2017-12-09 16:18] ersel commented on #88
How can we file a bug report with Spotify?

[2017-12-09 16:19] hnarayanan commented on #88
I am not sure. But let’s report back here if we find it.

[2017-12-09 16:29] ersel commented on #88
I think this should be it.

https://community.spotify.com/t5/Desktop-Mac/Mac-Troubleshooting-Spotify/td-p/105281

[2017-12-10 14:57] heroichornet commented on #73
Is there a command line client out there somewhere?

[2017-12-11 13:38] henrik242 commented on #85
https://github.com/hnarayanan/shpotify/pull/66 solves this better than https://github.com/hnarayanan/shpotify/pull/86 IMHO

[2017-12-11 13:58] hnarayanan commented on #85
Thank you!

[2017-12-11 13:58] #85 closed

[2017-12-11 14:26] hnarayanan commented on #89
@dmofot I've published a release (https://github.com/hnarayanan/shpotify/releases/tag/2.0.2) with recent fixes. :)

[2017-12-11 14:50] dmofot commented on #89
Ok, Homebrew/homebrew-core/#21564 submitted and passed all checks.  Should be merged when they get around to it.

[2017-12-11 16:15] dmofot commented on #89
Homebrew has merged the PR, should be all set.

[2017-12-11 16:26] hnarayanan commented on #89
Thanks!

[2017-12-14 17:36] hnarayanan commented on #84
An updated version of this project is now merged into `oh-my-zsh` and now it works when that’s installed!

[2017-12-14 17:36] #84 closed

[2017-12-16 13:50] g-bon commented on #84
Great job!

[2017-12-18 14:57] LouisKottmann commented on #69
This is actually interesting because it "teaches" to spotify what you like and enables better automatic playlists

[2017-12-25 21:13] cnees commented on #68
Upgrading bash didn't solve the problem for me. Symlinking didn't either. I ended up fixing it by copying the files from my brew installation of readline (version 7) into the folder where it said it was looking for those files.

`sudo cp /usr/local/Cellar/readline/7.0.3_1/lib/*.7.* /usr/local/opt/readline/lib/`

Use `brew info readline` to find the first path and the error message to find the seco

[2018-01-03 10:23] crucialfelix commented on #68
Rather than link libreadline 7 to libreadline 6 (it's the wrong version !) it's safer to find a copy of libreadline 6 on your system and symlink to that

In my case:

    sudo ln -s /usr/local/Cellar/readline/6.3.8/lib/libreadline.6.dylib /usr/local/opt/readline/lib/libreadline.6.dylib

[2018-01-16 17:41] zackkatz commented on #68
I ended up using `brew link readline --force` and it worked for me.

[2018-01-16 17:42] hnarayanan commented on #68
Thank you everyone for this conversation, but I am going to lock it for this is at a level of the stack that is below shpotify.

[2018-02-07 23:20] MatthewWolff commented on #88
Was this issue resolved from before at some point?
https://github.com/hnarayanan/shpotify/issues/76

[2018-02-08 02:45] hnarayanan commented on #88
Not fully. The issue that you’re linking to was a more fundamental problem.

If you find the feature working now, it probably means that they have fixed their API.

[2018-02-08 20:42] bttmly opened #93 "skip-forward / skip-backward functionality"
It would be great to have commands to skip forward/backward some number of seconds, perhaps defaulting to 15 seconds like the forward/back controls in Apple Podcasts and other similar applications. Happy to submit a pull request if it would be accepted!

[2018-02-09 02:32] hnarayanan commented on #93
It will!

[2018-03-26 13:44] dkniffin opened #96 "Flag to disable colors"
I'd like to do some scripting around this tool, including capturing the output. It'd be helpful if there was a flag that could be given like `--no-colors` to disable colors.

[2018-04-11 20:54] ryanyz10 opened #97 "'spotify quit' quits closes terminal window as well"
Some weird behavior I've bee running into: 'spotify quit' also closes my terminal window that I'm working in. Is this expected behavior or a bug?

Shell is zsh, terminal is iTerm2.

![kapture 2018-04-11 at 15 51 09](https://user-images.githubusercontent.com/6510606/38642745-99f5ddb6-3da0-11e8-8457-e5541ec9ae7a.gif)

[2018-04-12 10:45] hnarayanan commented on #97
It is not the intended behaviour, and I am not able to reproduce it in my setup (where it simply closes spotify as it should). I am running `zsh` on Apple's default `Terminal.app`.

[2018-04-12 13:39] ryanyz10 commented on #97
Maybe it's a problem with iTerm then, I'll see if I can look into it but I don't know much, if any, shell.

[2018-04-12 23:17] cubman3134 opened #98 "Shpotify picks unlikely choice"
Instead of picking the first song in spotify's search or the first playlist/artist that comes up, shpotify plays an unrelated song. While this song does have certain keywords, this isn't how it generally acts.
<img width="1195" alt="dadrock" src="https://user-images.githubusercontent.com/16855685/38708774-c08972ae-3e85-11e8-9b5b-c8a1892e0ea9.png">

[2018-04-24 17:11] dmofot commented on #97
In iTerm2 v3.1.6 using bash shell, `spotify quit` does not close iTerm2.  So it's possibly a combination of iTerm2 and zsh, but it could also be something with @ryanyz10  specific terminal/shell settings.

[2018-04-29 16:26] dkniffin opened #99 "Return non-zero exit codes for invalid commands"
To help with scripting, it'd be nice if shpotify returned a non-zero [exit code](collaboratively via the Slack messaging app.) gave when given invalid commands. Right now it returns an exit code of 0, with a Usage message.

Also, just FYI, this is for a project I'm working on called [Maestro](https://github.com/smashingboxes/maestro), a tool for controlling a Spotify player collaboratively via the

[2018-04-29 16:35] hnarayanan commented on #99
Please contribute this if you know how to! 😊

[2018-04-29 17:28] dkniffin commented on #99
I'll give it a shot!

[2018-04-29 18:14] hnarayanan commented on #99
Thank you!

[2018-05-08 22:59] JayPalm commented on #75
This would be super dope, you'd be able to control Alexa speakers via command line. I suppose it's a little redundant, since you can just talk to it, but the added option is nice for scripting.

[2018-06-11 18:53] marclundgren opened #101 "Toggle Private Session"
hi @hnarayanan,

Could the tool potentially support toggling the `Private Session`?

![screen shot 2018-06-11 at 11 52 35 am](https://user-images.githubusercontent.com/1154834/41251180-faf501d0-6d6d-11e8-91ff-16bad3e33890.png)

[2018-06-11 18:58] hnarayanan commented on #101
It’s possible but I don’t know for sure. If you can find an AppleScript event that corresponds to this, e.g. “tell application to ‘turn on private mode’”, then it’s easy to add to the script.

[2018-06-11 19:15] marclundgren commented on #101
I just opened an issue for spotify to support this via web API

https://github.com/spotify/web-api/issues/913

[2018-06-11 19:25] marclundgren commented on #101
@hnarayanan how can I find a list of variables that osascript can access on an application? any guides or references would be helpful.

resources I've tried:
https://ss64.com/osx/osascript.html

[2018-06-11 19:37] dmofot commented on #101
@marclundgren You should be able to see which variables can be passed in the sdef file.  Depends where Spotify is installed, but mine is located in `/Applications/Spotify.app/Contents/Resources/Spotify.sdef`

[2018-06-11 19:47] marclundgren commented on #101
looks like there's no access to the private session in Spotify.sdef :(

[2018-06-11 19:54] hnarayanan commented on #101
Thank you for doing the research though, and thanks @dmofot. Unfortunately this issue needs to be closed. Please reopen this is the situation changes with how we can control Spotify.

[2018-06-11 19:54] #101 closed

[2018-06-22 15:28] philipdowner opened #102 "Running spotify command generates permissions related error output"
Running any `spotify` command in my terminal (iTerm or Terminal) executes the command but also outputs the following permissions error:

[code]

[2018-07-21 12:31] yuceltoluyag opened #103 "osascript: command not found"
[code]

[2018-07-21 21:33] rgamec commented on #103
From the directory name I'm guessing you're trying to run this on Linux/BSD?

Right now the script only works on Mac since it needs osascript/Applescript to talk to Spotify. Could be an interesting challenge to port this to Linux though...

[2018-07-22 20:53] yuceltoluyag commented on #103
thank you, I do not want to use the program, it consumes too much RAM memory.

[2018-07-22 20:53] #103 closed

[2018-07-31 05:58] genevera commented on #88
It was an issue with how the credentials are generated for me.  Modify the generation of `$SHPOTIFY_CREDENTIALS` to also drop `\r` and it works:

[code]

Currently it is:
[code]

[2018-07-31 06:01] genevera commented on #88
#105 made it work for me on macos 10.13.6

[2018-08-01 17:33] genevera commented on #88
ping @hnarayanan

[2018-08-01 18:42] hnarayanan commented on #88
Please note that I get these messages.

[2018-08-02 12:43] jackchouchani commented on #73
I don't really see the point of having the shpotify config file. I tried signing out of spotify, to play a song on my terminal and it was not working. So it just proves that shpotify relies on the Spotify client. I think I'm not the only one who got misinformed. The Client ID and Client secret were not used.

[2018-08-02 12:44] jackchouchani commented on #73
Oh and I forgot to mention that it works the same regardless of the client ID and client secret.

[2018-08-16 15:25] genevera commented on #88
@hnarayanan is there anything I can do to expedite the pr fixing auth for macos users?

[2018-08-21 11:26] hnarayanan commented on #88
Thank you for reminding me, I will get to this today. :)

[2018-08-22 16:50] hnarayanan commented on #88
Thank you!

[2018-08-22 16:50] #88 closed

[2018-08-28 18:25] gonzalezzfelipe opened #106 "Add possibility to queue songs"
I would be good to add the functionality of queueing songs doing something like:
[code]
as to be able to make yourself a short list of songs to hear at once, without it having to be a fixed album or pre-existing list.

[2018-09-21 10:05] sirpooya opened #107 "Play songs by their lyrics"
Adding feature **"Search by Lyrics"** &  #play it instantly.
It could use lyric search engines to fetch song name. This is very useful since Spotify itself doesn't have this feature. And when we forget song name simply play it by the catchy lyric words we remember!
like :
`spotify play lyric kiki do you love me` --> Plays Drakes "In My Feelings"

[2018-09-21 10:08] hnarayanan commented on #107
This is a cool idea. Would you be willing to try implementing it? :)

[2018-09-21 18:09] sirpooya commented on #107
Actually No, it is just an idea I had.

[2018-09-22 20:31] aditya9898 commented on #107
How to implement this?

[2018-09-28 21:46] dmofot commented on #88
@hnarayanan considering this fixes a long standing issue, do you want to tag a new release so we can update the brew recipe?

Been a while since a release - https://github.com/hnarayanan/shpotify/compare/2.0.2...master

[2018-10-03 21:32] vjeeva opened #108 "Can't query Spotify API - Schpotify crashes"
I was trying to run `spotify play <song>` but the script would crash my terminal, with the following output:

`Connecting to Spotify's API`
`Autorization failed, please check `

From looking at the script, looks like at https://github.com/hnarayanan/shpotify/blob/master/spotify#L176 there is a typo for the USER_CONFIG_FILE (config is missing an 'i').

[2018-10-03 21:53] vjeeva commented on #108
Nevermind, this does not fix the issue. The problem seems to be https://github.com/hnarayanan/shpotify/blob/master/spotify#L162. Running this command manually (the printf) yields an empty string on OSX, seems that the tr -d "\n" is just returning an empty string.

[2018-10-04 12:39] dmofot commented on #108
@vjeeva the issue has already been fixed by pull #105 in the master branch.  The fix will show up in homebrew once there is a new release from @hnarayanan

In the meantime, you can always install with `$ brew install shpotify --HEAD` to test the latest commits in the repo.  Running `--HEAD` will play a song.

[code]

[2018-10-04 12:44] hnarayanan commented on #108
@dmofot: Would you like to get write access on this repository, so that you can help make this release?

I have a new baby in the house which is making spending time on this project really hard.

[2018-10-04 12:46] dmofot commented on #108
Congrats @hnarayanan !  Whole world changes, ha.  Happy to get write access for pushing releases.

[2018-10-04 12:48] hnarayanan commented on #108
Invited! Closing this issue, but any of the other regulars, if you want access to the repo to maintain, please ask and I will consider it.

[2018-10-04 12:48] #108 closed

[2018-10-12 09:38] johnalanwoods opened #110 "list search functionality returns no results consistently"
List functionality was working perfectly however recently it's stopped working.

Confirmed API is set up correctly in the .cfg.

[2018-10-15 11:13] #73 closed

[2018-10-15 12:30] johnalanwoods commented on #110
any ideas guys?

Spotify play list rap/rock/whatever used to work, not it's always returning no results...

[2018-10-29 21:12] dmofot commented on #102
@philipdowner are you still having this issue?  This looks like something private has been loaded into `/Volumes` and probably has nothing to do with shpotify.  Could you try running `osascript -e 'tell application "Finder" to activate'` in your terminal and see if you get the same error or if the Finder is activated.

[2018-10-29 21:17] dmofot commented on #110
@johnalanwoods I think this is at the whim of what Spotify returns.  A couple weeks ago I tried `spotify play list metallica` and it didn't work with any of the recent versions of shpotify.  Just tried it again today and it's working fine.  Give it a shot and let us know if it works.

[2018-11-07 15:24] yochem opened #111 "move .shpotify.cfg to ~/.credentials/shpotify.cfg"
It would be great if the shpotify credentials could be stored in a directory: `${HOME}/.credentials`. Some applications / command line tools use this folder already, so it's possible the folder already exists. It creates a much tidier home directory and all credentials are stored in the same folder.

Let me know what you think!

[2018-11-07 17:57] dmofot commented on #111
From what I can tell, the current method of using `${HOME}/.shpotify.cfg` is how most applications handle application specific configuration.  On my laptop, I've got a lot of installed software and nothing has created a `.credentials` directory.  Applications have instead created a specific dotfile (.gitconfig, .viminfo, etc.) or dotdirectory (.aws, .docker, etc.) to handle configuration settings.

[2018-11-07 19:05] hnarayanan commented on #111
I agree with @dmofot. It’s fairly common (if ugly) to have your home folders littered when dot files.

[2018-11-08 08:05] #111 closed

[2018-11-15 12:06] lukeberry99 commented on #107
Love the idea, there is a lot of potential for false positives (lyrics aren't that unique).

Perhaps after search you show a menu of the top 5 song names, and choose which to play?

I'm stretched for time but would be interested in attempting to implement this.

[2018-11-15 12:09] hnarayanan commented on #107
Timeliness is not at all an issue in this project, do try when you can. 😸

[2018-12-18 03:17] pkgamma commented on #69
Sorry that I am replying to such an old post, but maybe [this](https://developer.spotify.com/documentation/web-api/reference/library/save-tracks-user/) would help. I am also hoping to see that the save feature get implemented!

[2018-12-23 22:01] jsatk opened #113 "Feature Request: Ability to print song title/artist"
I'd love to be able to either

1. Print the status to JSON so it can be parsed
2. Allow spotify status to accept flags or further params to just get the song or artist.

[2019-01-27 12:53] gp42 opened #114 "spotify status starts spotify when not needed"
Currently shpotify autostarts Spotify.app if it is not running - on any command.
This behaviour is not desirable for my use case - i am trying to run shpotify in _tmux_ command line to get current song playing.

Add ability to silently quit if Spotify is not running.

[2019-01-27 15:16] hnarayanan commented on #114
I am not sure I understand (especially as I am not a tmux user). How else can I find out about Spotify’s status if it is not started?

[2019-03-23 01:57] chrismaltais commented on #110
Hey guys,

Just found this repo, installed, and configured the tool but I'm getting the same error. See below.

![Screen Shot 2019-03-22 at 9 55 49 PM](https://user-images.githubusercontent.com/17098959/54860209-62334c80-4ced-11e9-9621-1279041eefc4.png)

Let me know if others can replicate.

[2019-03-24 21:33] hnarayanan commented on #110
I can confirm this.

[2019-03-24 22:08] hnarayanan commented on #75
Like two years later I finally understand what this is or why this is awesome. I will investigate.

[2019-03-24 22:25] #99 closed

[2019-03-24 22:36] hnarayanan commented on #113
This is now available, thanks to: https://github.com/hnarayanan/shpotify/pull/78

[2019-03-24 22:36] #113 closed

[2019-03-24 22:59] hnarayanan commented on #102
Sorry, this indeed has nothing to do with this project and more to do with the permissions of your existing setup.

[2019-03-24 22:59] #102 closed

[2019-03-24 23:04] hnarayanan commented on #98
I kinda see this, but it only seems to happen for really generic search terms. Generally if you add another word or something else to clarify, it seems to pick a reasonable result.

[2019-03-24 23:04] #98 closed

[2019-03-24 23:08] hnarayanan commented on #97
I recently merged a PR that prompted me to review and clean up the use of `break`s and `exit`s.

This particular case, I've used `exit 0` as technically that's what this shell script should do when attempting to quit the Spotify app.

[2019-03-24 23:08] #97 closed

[2019-03-24 23:11] hnarayanan commented on #63
I know it's been like a 100 years, but if anyone is willing to look at this, I am happy to talk about it.

[2019-03-24 23:18] hnarayanan commented on #107
This might be helpful: https://dev.to/willamesoares/how-to-integrate-spotify-and-genius-api-to-easily-crawl-song-lyrics-with-python-4o62

[2019-03-25 03:39] ericmarkmartin commented on #63
Hey, it’s been a while. I’m actually on spring break now and would be down to tackle this

[2019-03-25 22:41] jsatk commented on #113
Yay!

[2019-03-25 22:44] jsatk commented on #113
@hnarayanan any idea when this will be released via homebrew?

[2019-03-25 22:56] hnarayanan commented on #113
No. I'd like to merge a handful more of the existing PRs, stabilise the script, then make a GitHub release. This could take anywhere from minutes to weeks. :)

Then someone in the community has to package the new release in Homebrew.

[2019-04-12 18:26] rupertdev opened #115 "spotify status watch mode"
Hey there, love the tool!

One feature that I would love to see is an updating spotify status command that I can keep in a small section of my screen.

Essentially what `watch spotify -n 1` outputs, without any weird characters, updating until i ctrl-c.

Thanks!

[2019-04-26 18:59] ZachAttackMLR commented on #97
I ran into this issue yesterday using the built in terminal app on macOS running zsh. I used @ryanyz10 's fix and made a gif of it in case anyone else runs into this issue.

![spotifyQuitFix](https://user-images.githubusercontent.com/17120115/56830089-0c414f80-682b-11e9-9ba0-2cd53bd0f027.gif)

[2019-04-26 21:48] #110 closed

[2019-05-16 10:14] redradrat commented on #114
The status should just be 'Spotify is currently not running.' right? That would be the correct status.

[2019-05-28 19:40] jefheaton commented on #111
Also interested in a configurable config location as I try to follow the XDG standard, as many apps do https://wiki.archlinux.org/index.php/XDG_Base_Directory. Would you be amenable to a PR for this?

[2019-05-28 19:57] yochem commented on #111
Yes XDG would be awesome! Didn't know about the existence of it when I created this issue.

[2019-05-28 20:12] yochem commented on #111
Also, have you heard of [shellcheck](https://www.shellcheck.net)? It provides helpful feedback for getting a much cleaner script. Example:

![image](https://user-images.githubusercontent.com/23235841/58508959-a92e3a00-8195-11e9-8aaa-90409704f2ce.png)

[2019-05-28 21:16] dmofot commented on #111
I understand the desire to not clutter the `$HOME` directory, so I'm not against checking if the `XDG_CONFIG_HOME` is set and if not, default to the current location.  But to be clear, `XDG_CONFIG_HOME` is a linux setting.  Apple would probably tell you to put it in `~/Library/Preferences/` or `~/Library/Application Support/`.  The only thing I currently have in `~/.config/` is *htop*, which is mo

[2019-05-29 12:25] hnarayanan commented on #111
Both ideas here are good:

1. The home folder is messy with dot files
2. This shellcheck tool can improve the script

Please do not focus too much more on (1) as this script is too small a thing to try to solve that problem. Any cleanup from (2) I will be happy to consider a PR.

[2019-07-12 12:43] Luticus opened #118 "shpotify opens spotify rather than displaying status"
I have an odd issue on a mac where when I run spotify status in the CLI it will open or switch to the spotify GUI rather than displaying the status of the currently playing song.  This just started recently.  I'm unsure what changed to cause it.  This breaks wrapper scripts I've created which rely on this functionality.

[2019-07-12 16:08] dmofot commented on #118
Can you give a little more information, like version of OSX and version of Spotify?

If you issue a `spotify status` without having Spotify open, it will open Spotify in order to get the status.  For me (Mojave 10.14.5 and Spotify 1.1.10.540.gfcf0430f), if Spotify is minimized to the dock, it doesn't switch back to the GUI.

[2019-07-14 12:13] Luticus commented on #118
I'm on Spotify 1.1.10.540

My mac is at:  10.14.5

Mine will switch back to the GUI even if the app is open and non minimized.
...And nevermind.  Apparently I just needed to reboot the box.  I'm not sure why that was the case, but it was.  Well if you get this question again, let people know to try the good ol' windows fix.  :)

[2019-07-14 12:13] #118 closed

[2019-09-11 12:23] flxsource opened #119 "Grep steps fail when grep command is aliased"
When grep is an alias (in my case with `-n`) the steps in script that use grep product incorrect input (including getting the correct token, and the correct URI).

One fix for this is prefix call to grep with `command`.

[2019-09-11 22:36] #119 closed

[2019-10-15 03:25] mysolarium commented on #114
i'm also having this issue. i run spotify as a daemon with spotifyd - therefore i can stream spotify without the actual gui app open.

i would like to be able to control spotifyd with shpotify. is this possible? currently, on any command, it unnecessarily opens the gui app.

i'd be happy to look into fixing this if you point me in the right direction. thanks a lot!

[2019-11-25 09:33] nivv commented on #26
There is an endpoint that fetches a list of the current user's playlist. https://developer.spotify.com/documentation/web-api/reference/playlists/get-a-list-of-current-users-playlists/

[2019-11-25 12:06] developer-guy opened #124 "make command auto-completion scripts for different shell types"

[2019-11-25 13:25] hnarayanan commented on #124
Would you like to help with this?

[2020-02-25 18:38] fredyonge opened #125 "${HOME}/.shpotify.cfg no diea what to do"
Sorry this is not an issue, but I dont know what to do at the step : ${HOME}/.shpotify.cfg

Do I go into the terminal, if so, I went into my home directory but couldn't use the that. Could you help me?

[2020-02-26 07:07] anomitra opened #126 "Status command to return the player status"
This is pretty self-explanatory - it'd be nice if I had something like `spotify status player` which returns either `PLAYING`, `PAUSED` or `STOPPED`. Think of it as mirroring the play button's status on a music player.

The motivation behind this is that I'm using `shpotify` to display the player status on my terminal prompt. I'm okay with taking a stab at implementing this if the maintainers are

[2020-02-26 07:07] hnarayanan commented on #126
Please try implementing it.

[2020-02-27 20:15] dmofot commented on #126
`spotify status` already outputs that information (playing or paused), in addition to artist, album, track, and position.  So you could pull `playing` or `paused` from the current `spotify status` command output.  For example:
[code]
and grabbing just the part we're interested in:
[code]

As a side note, I would be careful about adding too much to the prompt only because it can slow things down if

[2020-02-27 20:27] dmofot commented on #125
`${HOME}/.shpotify.cfg` will be created for you if you don't already have one.  In your terminal, if you simply run `spotify`, it will print out the tools current usage and setup.  You'll see a section at the bottom called *Connecting to Spotify's API:*. Simply follow the directions (copied below) to grab a CLIENT_ID and CLIENT_SECRET from Spotify.  Once you have those values, edit your `${HOME}/.

[2020-02-29 09:52] anomitra commented on #126
That is a possible way to go about it, but as you mentioned it would slow down the prompt considering it retrieves a lot of data that I won't really use. I added a command in #127 which is around 5x faster than doing `spotify status` - good enough for using in a prompt.

[2020-02-29 17:18] dmofot commented on #126
Right, I guess does it make more sense to add an extra command to the
script?  To be clear, I’m not against splitting it up, but I do think it
adds a bit of clutter.  Could probably just as easily add that line of code
directly to your prompt:

https://github.com/hnarayanan/shpotify/blob/cd6556331a95bf6b3caba5e28c33d9dcc32c2abb/spotify#L117

On Sat, Feb 29, 2020 at 4:52 AM Anomitra Saha <notificat

[2020-03-02 20:02] sirpooya commented on #106
I'm so down for this feature!!
Is there a possibility for this to happen?

[2020-03-04 07:19] anomitra commented on #126
Yes, it's definitely possible for me to add that line of code to my prompt. But I still think it's a good-to-have functionality for the library. A lot of Oh-My-Zsh users (like me) use `shpotify` and it'd be cool if they can leverage this feature for their own prompts.

[2020-03-06 17:18] dmofot commented on #115
I haven't used it on OSX, but `watch` can be installed using homebrew.  Alternatively, you could try something like `while :; do echo "$(clear;spotify status)"; sleep 2; done` which will continually run the `spotify status` command until you CTRL+C.  Quick gif to below to show the song position updating...

![watch](https://user-images.githubusercontent.com/5605132/76106125-3b286600-5fa4-11ea-8d17

[2020-03-09 19:25] rupertdev commented on #115
It would be neat to have it built in, but this will work for us more technical users.

[2020-03-09 19:25] #115 closed

[2020-03-09 19:32] dmofot commented on #125
Going to close this issue.  Feel free to respond if you haven't gotten setup sorted.

[2020-03-09 19:32] #125 closed

[2020-03-10 20:48] burak-gunay commented on #106
This would be a really helpful feature, I think I'll start implementing it this week and will post here how it goes

[2020-03-18 14:12] sirpooya commented on #106
Any news yet?

[2020-03-25 02:58] alichtman commented on #111
XDG is a Linux-focused spec, however, it works perfectly on macOS. There is no reason to not use it, in my opinion.

Agreed. This is part of the reason why the XDG spec exists.

I disagree with this statement. If this script avoids cluttering the home directory with _one more_ dotfile, everyone is _one more_ dotfile closer to having an uncluttered home directory. Every large problem can be solved

[2020-03-25 21:04] yochem commented on #111
I would also like to add that since the content of `shpotify.cfg` is data, it should be in `$XDG_DATA_HOME`, which defaults to `$HOME/.local/share/`. So for me, the best fitting path would be `$XDG_DATA_HOME/shpotify/credentials`.

[2020-04-25 07:21] delta-ng commented on #74
Hey,
Adding quotes worked for me in ssh. Weird though.

[2020-04-28 10:18] henrik242 opened #128 "Shpotify some times doesn't show track and artist"
[code]

Shpotify 2.1 from Homebrew on macOS 10.15.4

[2020-04-28 10:25] hnarayanan commented on #128
Do you really have a chick for your console prompt? 😸

[2020-04-28 12:29] henrik242 commented on #128
It's my easter themed prompt.  Guess it's time to change it again :)

[2020-05-01 04:56] siralmat commented on #128
Hello! I stumbled across this thread while troubleshooting the same problem in my own Spotify script.

This is a newly introduced bug in Spotify: it appears that when you manually change the current track (by moving to the next/previous track, selecting a new track, or pausing/unpausing), it updates the current track properties _except for_ the title and artist/album artist, which are blanked out.

[2020-05-01 06:28] hnarayanan commented on #128
Yay. We just wait then.

[2020-05-02 13:29] willhaslett opened #129 "Enhancement thought"
Thank you so much for this script! It's a **big** help in maintaining the flow state throughout the day.

On my setup, 10% is too coarse as an interval for volume adjustment. I easily changed it to 5% as shown below, but I also wanted to share the thought that this value could be configurable, either as a runtime argument or as a constant declared at the top of the script. If others think it's a g

[2020-05-02 16:40] hnarayanan commented on #129
This is a great idea. Please just make it a constant at the top of the script and we’ll see if anyone has strong opinions against this. (I have no issues.)

[2020-05-02 20:54] willhaslett commented on #129
Will do. btw, "shpotify" is pure gold. Your users will get it, and it's fun to say.

[2020-05-03 06:32] #129 closed

[2020-05-03 06:33] hnarayanan commented on #128
Closing because this is an issue with the Spotify app.

[2020-05-03 06:33] #128 closed

[2020-06-05 08:19] davidem commented on #37
Hi Guys, coming a bit late to the shpotify party, but nevertheless thankful for the script. I’ve added to my fork the possibility to list the contents of a playlist based on the uri like this: spotify list uri <format> <uri>.

<uri> is of course an uri of a playlist. <format> is the output format and can be csv, tsv, text or html.

I deliberately used _list_ to list the contents instead of using t

[2020-06-07 22:44] davidem commented on #26
@nivv : you're correct, there's an endpoint to list the current user's playlist through https://api.spotify.com/v1/me/playlists, but, it requires authorisation.

I've added exactly that to my fork with pull request #131. I can now list my playlists and use the uri to play any of that playlists :)

[2020-06-08 00:35] davidem commented on #75
See Pull Request #132 :)

[2020-06-08 18:36] davidem commented on #29
For future reference: this bug has been fixed with PR #54 and can be closed.

[2020-06-11 08:59] davidem commented on #69
I'm in the process of adding the option to like a track or a an album, based in it's URI. Spotify has no API to like an artist, or even show your liked artists.

I've got it working for tracks, it even poops out the track info. I still need to test to list and like an album.

[2020-06-11 09:03] davidem commented on #107
This is a cool idea, but not possible with standard Spotify APIs. Integration with a third party (like musicmatch or genius as @hnarayanan suggested) is a must.

I do think this will generate a lot of false positives, but could be helpfull to find a track where you only remember one line of.

I'll first see if I can add a lot of the default Spotifiy APIs to shpotify, but it would be a fun project

[2020-06-11 09:07] davidem commented on #106
Spotify has an API to queue songs, but has no API to list queued songs, which is funny. People have been asking for this for some time... as soon as I finish the 'list/like' song feature, I'll add this feature and provide a pull-request.

So queueing is possible, listing the queue is not.

[2020-06-11 09:14] davidem opened #136 "Bash only or zsh as well?"
I've got a question: the README states this is a bash script, so I've been coding with some nice _bashism's_ but I see som zsh fans using Shpotify as well: How well is the compatibility between bash and zsh? What are the things I need to take into account?

:)

[2020-06-11 10:54] hnarayanan commented on #136
It is already used by a ton of oh-my-zsh users so I don't think this needs to explicitly be stated.

It is a bash script because it's ostensibly written in bash.

[2020-06-11 10:54] #136 closed

[2020-06-11 12:56] davidem commented on #136
I was more looking for programmatical differences between bash and zsh, so I can take those into account.

This site got me covered: https://apple.stackexchange.com/questions/361870/what-are-the-practical-differences-between-bash-and-zsh

[2020-06-11 13:16] hnarayanan commented on #136
Please slow down.

[2020-06-11 13:31] davidem commented on #136
haha, sorry about that. I'm away this weekend, so that will slow me down a bit :)

[2020-06-11 13:34] hnarayanan commented on #136
As happens a lot, I am going through a lot of personal stuff right now so I'll review all your contributions in time.

[2020-06-11 14:20] davidem commented on #136
So I have read, and please take care :) Maybe a silly question, but are you the sole maintainer?

I have 3,5 things I want to implement tonight after which I'll take a break for a few days:
- like albums / tracks (tracks-part is done, next is albums)
- list track/album info. To be used with 'like albums/tracks', but also as single requests
- check if track/album is liked. To be used with 'like alb

[2020-06-21 16:39] matthewKeville opened #139 "Incorrect Status From Search"
When I search for a song using play the status is always incorrect.
However, the next song will invariably have the correct status.

That is that songs from a search return this
Artist :
Album : the search terms
Track :

I've only observed this on MacOS

[2020-06-21 17:23] hnarayanan commented on #139
The script only works on macOS. 😊

[2020-06-26 20:04] dmofot commented on #139
There was an issue with Spotify a few weeks ago where they broke some of their AppleScript functionality.  I thought they fixed it, but it's possible they broke it again or Spotify just needs to be updated.

https://community.spotify.com/t5/Desktop-Mac/You-broke-AppleScript-Again/m-p/4937134

[2020-08-19 18:53] nqzero opened #140 "manual install"
I'm trying to follow the "manual install" instructions and am getting a couple of errors

- needed to create the Applications directory
- now I'm getting:
[code]

the help message displays correctly but everything else I've tried has given similar errors. Are there some additional packages that are required ?

[2020-08-20 06:27] hnarayanan commented on #140
Are you installing this on a Mac?

[2020-08-21 01:49] nqzero commented on #140
yeah, macbook pro retina 2014

[2020-08-29 21:26] erikc96 opened #141 "Issue with homebrew package?"
Hi,

I went to try out this interesting package earlier, using 'brew install shpotify,' and unfortunately found that the installation didn't work quite as expected. I get a 'command not found' error. I see that it's been installed into '/usr/local/Cellar/shpotify' just fine, it's just not executable? Would appreciate any help getting this app running.

Thank you,
erik

[2020-08-30 07:18] hnarayanan commented on #141
I don’t use Homebrew, but if you know how to, you can simply clone this repository and set it up manually.

Otherwise, you need to dig deeper into how Homebrew sets it up.

[2020-09-02 15:51] erikc96 commented on #141
Okay! That's just as fine for me!

[2020-09-02 15:51] #141 closed

[2020-09-18 19:31] davidem commented on #140
Is /usr/bin in your path?

Can you try "echo $PATH" from the commandline and check if it's there? If not, add it to ~/.bash_profile

More info on how to do that: https://osxdaily.com/2014/08/14/add-new-path-to-path-command-line/

[2020-10-22 04:39] sacelani opened #145 "Off-by-one error on vol command"
![Screen Shot 2020-10-22 at 00 21 06](https://user-images.githubusercontent.com/22602483/96825331-d7519100-13fe-11eb-9988-d9b54019b59e.png)

"spotify vol show" and "spotify vol up/down" results are off by one

[2020-10-22 07:35] hnarayanan commented on #145
I honestly do not know how to fix this. This has been an error since the beginning of this project.

[2020-11-30 20:36] davidem commented on #106
For the record: I've added queueing a while back, it's in branch 3.0-pre. I've just changed it so multiple uri's can be queued in one command. It's in PR #144.

[2020-12-10 18:01] #29 closed

[2020-12-15 18:41] moshed opened #148 "Shuffle/ Repeat State?"
is there a way to return the Shuffle and/or repeat state?

[2021-01-15 23:42] willhaslett opened #149 "Configurable volume up/down percentage appears to have been reverted"
I suggested this feature and implemented here: https://github.com/hnarayanan/shpotify/issues/129. It was merged in, here: https://github.com/hnarayanan/shpotify/pull/130

Upon a new brew install today, it appears that that change has been reverted. Can we have it back? Same logic as the original issue: 10% is too coarse an adjustment for me. I suspect that it's too coarse for anyone listening to t

[2021-01-15 23:57] hnarayanan commented on #149
There is no good reason. It is simply an oversight.

[2021-01-16 00:19] dmofot commented on #149
I don’t think it was reverted, there just hasn’t been another tagged version which means there hasn’t been another homebrew release since before that change was merged to master.  Unless you’re using brew to install master...

[2021-01-16 14:53] willhaslett commented on #149
Ah, I see. Thank you.

[2021-01-16 14:53] #149 closed

[2021-03-25 16:31] eTLAsw opened #150 "Feature request, being able to turn off or on shuffle"
I love this tool but I would like to be able to turn shuffle on or off and not only toggle it. I've scripted buttons on my Stream Deck to switch to dedicated playlists and I would like to at the same time make sure Spotify is in shuffle mode.

Either the ability to turn shuffle on/off or check the current status would be nice.

[2021-04-30 09:24] hnarayanan opened #151 "Polish the readme based on feedback"
is all about. I like that the copyright license is stated explicitly.

readers from having to follow a link. Not a big deal, though.

description. I'd prefer to get some idea of what the software is like
to use before I worry about installing it.

[2021-05-08 21:17] davidem commented on #148
There's a hidden feature, "info", which shows the current shuffle state (2nd from the bottom):

[2021-05-09 05:14] moshed commented on #148
ohhh lovely! thanks!

[2021-05-09 06:59] hnarayanan commented on #148
Yay.

[2021-05-09 06:59] #148 closed

[2021-05-14 21:32] davidem opened #152 "Add recommended tracks to queue"
I wanted to implement the 'radio' feature of Spotify, but unfortunately there's no API for that. The closest thing available is "get recommended songs by seed", where the seed can be a mixture of 5 tracks, artists and/or genres.

I just wanted to let you know I've implemented this in my 3.0 version, PR #144. Using "spotify match <seeds>" it adds 10 'recommended songs' to the queue and only works i

[2021-05-15 16:10] davidem commented on #151
To be honest: imho the readme is quite alright as it currently is 😎. Yes, you can explain 'spotify', but I think there aren't many people who don't know what spotify is. Perhaps you can add "audio streaming service" before the spotify link.

I think it is common to explain how to install software before explaining how to use it. You might explain a few of the possibilities of shpotify in the intro

[2021-05-15 16:38] davidem commented on #150
As far as I know the applescript method to shuffle or not is a toggle itself. It's only one command to rule both on and off.

What might be possible is to implement a check in your scripted buttons with `spotify info`, 2nd from the bottom shows if shufle is enabled or not.  Or check with the following applescript command: `osascript -e 'tell application "Spotify" to shuffling'`

Cheers,

David

[2021-05-15 21:16] hnarayanan commented on #151
Thank you. This is not my feedback, this is just me quoting a person who offered this service as a gesture. (They read READMEs knowing nothing about your project and offer their feedback.) I’m not what parts of it I will act on if any. 😅

[2021-08-30 01:29] hafizdkren opened #153 "Shpotify not detecting spotify build from source"
So I was installing EndeavourOS and wanna to configure my zsh, everything was set OK and also adding application API key on it.
But, every times I try to testing it by `spotify status` it say

So, I was confused. If this just me, please send me a how to so I can configure it more. But if this is a bug then I'll wait for next commit.

Thanks

[2021-08-30 06:28] hnarayanan commented on #153
Sorry, but this is a Mac-only application.

[2021-08-30 06:28] #153 closed

[2021-08-30 08:35] hafizdkren commented on #153
Oh, I see. sorry for trouble

[2021-09-29 19:04] davidem commented on #145
It's a funny applescript thingy. No idea why... but if I set the volume using a direct api call it is no longer off-by-one.

<img width="297" alt="image" src="https://user-images.githubusercontent.com/706591/135331995-9407fca4-c88d-48a7-9b3f-d0398b71ab5f.png">

(never mind the white output, thats for quick debugging only)

If needed I'll update it and create PR.

[2021-09-29 19:07] hnarayanan commented on #145
It is not *needed* but it will be appreciated. 😸 If it is a small change, please do raise a PR.

[2021-09-29 19:07] davidem commented on #145
Ah, I now see there already is a 'dirty' +1 fix 😎, waiting to be merged... #146

[2021-10-27 14:17] reduxdj opened #154 "Spotify no longer surfaces their spotify URI Link"
No Longer:
<img width="1448" alt="Screen Shot 2021-10-27 at 7 07 24 AM" src="https://user-images.githubusercontent.com/322547/139083935-d4f2a6af-c600-4665-a41c-567135de6778.png">

Now:
<img width="561" alt="Screen Shot 2021-10-27 at 7 05 29 AM" src="https://user-images.githubusercontent.com/322547/139084039-09797b3d-d8f0-4364-a283-fb51dc197c92.png">

[2022-02-16 02:11] cevhyruz opened #155 "support for other distributions other than Mac"
Hello, thank you for this wonderful project. I've followed all the directions on readme. I have also installed the spotify-client, however I'm still getting a "The Spotify Application must be installed."  upon checking the codebase I've found out It's looking at the wrong directory `Applications/` which i assume a Mac thing.

[2022-02-16 02:57] hnarayanan commented on #155
Hi John! Thank you for writing but unfortunately this is a Mac only project.

I will close this issue, but please do link below a good alternative app for Linux if you find it. I’m sure it would help the next person searching for this.

[2022-02-16 02:57] #155 closed

[2022-02-21 16:41] Mitchy1992 opened #156 "Cannot work the Shpotify plugin"
I have followed all the instructions and pasted the required details in the config file. Alas when I run 'spotify play Eminem command in the terminal, i get an error saying that 'The Spotify application must be installed.' even tho i have it installed in my system !

[2022-02-21 16:45] #156 closed

[2022-03-15 10:04] thomasmalley opened #157 "Enable Sponsoring?"
Hey, I am getting a lot of value from you app. Have you been thinking about enabling GitHubs Sponsoring feature for this repo?

[2022-03-15 10:18] hnarayanan commented on #157
Sounds really wonderful. Could you point me to where I could get started?

[2022-03-16 12:44] thomasmalley commented on #157
Sure! Here you go: https://docs.github.com/en/sponsors/receiving-sponsorships-through-github-sponsors/setting-up-github-sponsors-for-your-user-account

Currently it's available for bank accounts in 36 regions. [Here](https://github.com/sponsors#regions) you'll find an overview. I hope it works for you 🤞🏼

PS: If it does, I'll try to become your first sponsor off course 🚀

[2022-03-17 21:20] hnarayanan commented on #157
Thank you so much for the kick that I needed to enable this. I have turned on the sponsorship option. 🙏

[2022-03-17 21:20] #157 closed

[2022-03-29 12:31] thomasmalley commented on #157
Kept my promise to you :) Thank you for your awesome work & all the best for your family!

[2022-03-29 13:06] hnarayanan commented on #157
Amazing! Thank you for being my first sponsor.

[2022-03-29 13:07] hnarayanan commented on #157
Also, could you explain to me (when you get the time) how you feel you get a lot of value out of the app?

[2022-03-29 18:19] hnarayanan commented on #157
Amazing, thank you for sharing. I suffer from CTS too and just don’t/can’t do certain classes of things. I should look for alternate interfaces ☺️

[2022-04-22 03:28] alexander-the-alright opened #158 "Podcasts Don't Display in 'status' Correctly"
Podcast names display as an album instead of an artist.

![Screen Shot 2022-04-21 at 23 25 01](https://user-images.githubusercontent.com/85045778/164590400-2d1a8739-3bd7-492d-bff0-86f0da259fd8.png)

[2022-04-22 06:19] hnarayanan commented on #158
Thank you for reporting this. I don’t use Spotify for podcasts and so didn’t notice.

Could you help us debug this by seeing if there is something different about podcasts in the response from the Spotify API? We could use this something to deal with podcasts differently in the script.

(It’s ok if you don’t know how to assist with this, I am mostly just thinking out loud and sketching out a solut

[2022-04-27 16:37] #72 closed

[2022-04-27 18:52] davidem commented on #154
No, api calls and applescript still provide and handle uri's, fortunately 😁

[2022-04-27 18:55] davidem commented on #154
By the way: I just found out that uri's can still be displayed in the gui, by pressing alt/ctrl.

<img width="393" alt="image" src="https://user-images.githubusercontent.com/706591/165599236-0f24de33-b7ad-4808-916a-de3ab2a9252e.png">

As mentioned here: https://community.spotify.com/t5/FAQs/What-s-a-Spotify-URI/ta-p/919201

🤓

[2022-04-27 18:56] hnarayanan commented on #154
Detective work paying off!

[2022-04-27 19:25] davidem commented on #158
`status` makes several applescript calls, trying to get artist, album, track and position information. A podcast episode simply has no album, only artist and episode information.

For some reason applescript returns the wrong information when it comes to podcast episodes. It can be fixed in two ways:

- Quick and dirty: simply check the URI first: if track > continue as normal, elif episode > diff

[2022-04-27 22:16] hnarayanan commented on #158
I prefer the quick and dirty approach. As otherwise we’re introducing a whole new level of complexity

[2022-04-28 12:33] davidem commented on #158
I'll see what i can do this weekend 😎

[2022-05-20 12:56] mariano-daniel opened #160 "Play "Liked Songs" list?"
When I run `spotify play list "liked songs"` it plays anything but my liked songs.
Maybe it would be a good idea to add such feature (I do not code though).

Or maybe can I play from some URI?